<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title>待办事项</title>
</head>
<body>
<ul class="notification-body">
    <li th:each="task:${tasks}">
		<span>
			<div class="bar-holder no-padding">
				<p class="margin-bottom-5"><i class="fa fa-warning text-warning"></i> <strong>[[${task.category}]]</strong> <i>[[${task.name}]]</i> <span class="pull-right semi-bold text-muted">85%</span></p>
				<div class="progress progress-md progress-striped">
					<div class="progress-bar bg-color-teal"  style="width: 85%;"></div>
				</div>
				<em class="note no-margin">[[${task.createTime}]]</em>
			</div>
		</span>
    </li>
</ul>
</body>
</html>