<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title></title>
</head>
<body>

<div class="row">
    <!-- col -->
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <!-- PAGE HEADER -->
            <i class="fa-fw fa fa-home"></i>
            产品订单
        </h1>
    </div>
</div>
<section id="widget-grid">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false"
                 data-widget-deletebutton="false"
                 data-widget-fullscreenbutton="false" data-widget-togglebutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>产品订单</h2>
                </header>
                <div role="content">
                    <div class="modal-body no-padding">
                        <form id="form" class="smart-form" >
                            <fieldset>
                                <section >
                                    <label class="label"> 订单编号:[[${order.code}]]</label>
                                </section>
                            </fieldset>
                            <fieldset>
                                <section >
                                    <label class="label"> 收货地址:[[${order.province}]][[${order.city}]][[${order.district}]][[${order.address}]]</label>
                                </section>
                            </fieldset>
                            <fieldset>
                                <section >
                                    <label class="label">快递方式:[[${order.transport}]]</label>
                                    <input class="form-control" id="sourceDeliverFee" name="sourceDeliverFee" th:value="${order.deliverFee}" type="hidden">
                                    <input class="form-control" id="deliverFee" name="deliverFee" th:value="${order.deliverFee}" type="hidden">
                                    <input class="form-control" id="discount" name="discount" th:value="${discount}" type="hidden">
                                    <input class="form-control" id="balance" name="discount" th:value="${balance}" type="hidden">
                                    <input class="form-control" id="id" name="id" th:value="${order.id}" type="hidden">
                                    <input class="form-control" id="totalPrice" name="price" th:value="${totalPrice}" type="hidden">
                                    <input class="form-control" id="youhuiPriceTotal" name="discountTotalPrice" th:value="${discountTotalPrice}" type="hidden">

                                </section>
                            </fieldset>
                            <fieldset>
                                <section >
                                    <label class="label">确定订单信息</label>
                                    <table class="table table-hover" id="cartList">
                                        <thead>
                                        <tr>
                                            <th>商品名称</th>
                                            <th>科目名称</th>
                                            <th>科目类型</th>
                                            <th>系列名称</th>
                                            <th>单价</th>
                                            <th>数量</th>
                                            <th>优惠券</th>
                                            <th>小计</th>
                                            <th>操作</th>
                                        </tr>
                                        <tr  th:each="orderItem,userStat: ${order.items}">
                                            <td th:text="${orderItem.sale.name}"></td>
                                            <td th:text="${orderItem.sale.projectName}"></td>
                                            <td th:text="${orderItem.sale.typeName}"></td>
                                            <td th:text="${orderItem.sale.subtypeName}"></td>
                                            <td th:text="${orderItem.price}"></td>
                                            <td th:text="${orderItem.count}"></td>
                                            <td >
                                                <div th:if="${orderItem.sale.canUseCoupon==true && discount==1.0}">
                                                    <input type='text' name='discountCode' th:id="youhui+${orderItem.sale.id}" value=''>
                                                    <button type="button" th:onclick="'javascript:toYouhui(\''+${orderItem.sale.id}+'\','+${orderItem.count}+')'">获取优惠价格
                                                    </button>
                                                    <input type='text' name='discountPrice' th:id='youhuiPrice+${orderItem.sale.id}' value='0.00' readonly>
                                                    <input type='hidden' name='saleId' id="saleId" th:value="${orderItem.sale.id}" readonly>
                                                </div>
                                            </td>
                                            <td>
                                                <div th:text="${orderItem.totalPrice}" th:id='priceHtml+${orderItem.sale.id}'>

                                                </div>
                                                <input type='hidden' name='prices' th:id='price+${orderItem.sale.id}'  th:value="${orderItem.totalPrice}" readonly>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="7">运费</td>
                                            <td>
                                                <strong><span id="deliverFeeHtml">[[${order.deliverFee}]]</span></strong>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="7">优惠金额</td>
                                            <td>
                                                <strong><span id="youhuiPriceTotalHtml">[[${discountTotalPrice}]]</span></strong>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="7">钱包金额</td>
                                            <td>
                                                <strong><span >[[${balance}]]</span></strong>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="7">折扣</td>
                                            <td>
                                                <strong><span >[[${discount}]]</span></strong>
                                            </td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td colspan="7">总计</td>
                                            <td>
                                                <strong><span id="totalPriceHtml">[[${totalPrice}]]</span></strong>
                                            </td>
                                            <td></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                    </table>
                                </section>
                            </fieldset>
                            <footer>
                                <button class="btn btn-primary" id="addOrder" type="submit">提交订单</button>
                                <button class="btn btn-default" type="button" onclick="window.history.back();">返回</button>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>


<script th:src="@{js/plugin/jquery-form/jquery-form.min.js}"></script>
<script type="text/javascript">

    pageSetUp();

    var pagefunction = function() {
        // clears the variable if left blank

        var $form = $("#form").validate({
            rules: {

            },
            messages: {

            },
            onsubmit: true,
            submitHandler: function () {
                $.ajax({
                    url: '/product/upateApply',
                    type: 'post',
                    data: $('#form').serialize(),
                    success: function (e) {
                        window.location = '#/my/order';
                    },
                    error: function (e) {
                        $.bigBox({
                            title: "系统内部错误！",
                            content: "该错误已被记录，请联系管理员，并稍后重试！",
                            color: "#C46A69",
                            icon: "fa fa-warning shake animated",
                            timeout: 6000
                        });
                        e.preventDefault();
                    }
                });
            },
            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
    };
    function toYouhui(saleId,count){
        var youhuiCode=$("#youhui"+saleId).val();
        if(youhuiCode=="") {
            alert("请输入优惠码");
        }else{
            $.ajax({
                url: '/product/getCouponDiscount',
                type: 'POST',
                async: false,
                data: {"code": youhuiCode},
                success: function (data) {
                    var coupon=eval(data);
                    if(coupon.length<=0){
                        alert("优惠码已使用或者优惠码不存在");
                    }else{
                        if(count<coupon[0].needCount){
                            alert("购买数量没有达到"+coupon[0].needCount+"不能使用优惠券");
                        }else{
                            $("#youhuiPrice"+saleId).val(coupon[0].price);
                            var youhuiPriceTotal=  $("#youhuiPriceTotal").val();
                            var youhuiPriceTotalHtml=Number(youhuiPriceTotal)+Number(coupon[0].price);
                            $("#youhuiPriceTotal").val(youhuiPriceTotalHtml.toFixed(2));
                            $("#youhuiPriceTotalHtml").html(youhuiPriceTotalHtml.toFixed(2));
                            var totalPrice = $("#totalPrice").val();
                            var totalPriceHtml = Number(totalPrice) - Number(coupon[0].price);
                            $("#totalPrice").val(totalPriceHtml.toFixed(2));
                            $("#totalPriceHtml").html(totalPriceHtml.toFixed(2));
                            var price=$("#price"+saleId).val();
                            var priceHtml= Number(price) - Number(coupon[0].price);
                            $("#price"+saleId).val(priceHtml.toFixed(2));
                            $("#priceHtml"+saleId).html(priceHtml.toFixed(2));
                        }
                    }
                }
            });
        }
    }
    pagefunction();

</script>

</body>
</html>