<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title></title>
</head>
<body>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-edit"></i> 物流方式</h4>
</div>

<div class="modal-body no-padding">
    <form id="form" class="smart-form" novalidate="novalidate">
        <fieldset>
            <section>
                <label class="select">
                    <select name="deliverWarehouseId" id="deliverWarehouseId">
                        <option value="">发货仓库</option>
                        <option th:each="w:${warehouses}" th:value="${w.id}">[[${w.name}]]</option>
                    </select><i></i>
                </label>
            </section>
            <section>
                <label class="input">
                    <input type="text" name="deliverAddress" id="deliverAddress" placeholder="收货地址" th:value="${stock.deliverAddress}" />
                </label>
            </section>
            <section>
                <label class="input">
                    <input type="text" name="transportNo" id="transportNo" placeholder="运单号" th:value="${stock.transportNo}" />
                </label>
            </section>
            <section>
                <label class="select">
                    <select name="deliverCompany" id="deliverCompany">
                        <option value="">物流公司</option>
                        <option th:each="c:${transport}" th:value="${c.id}">[[${c.name}]]</option>
                    </select><i></i>
                </label>
            </section>
        </fieldset>
        <footer>
            <button type="submit" class="btn btn-primary">
                保 存
            </button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">
                取 消
            </button>
        </footer>
    </form>
</div>

<script>
    pageSetUp();

    var pagefunction = function () {
        var $form = $("#form").validate({
            rules: {
                deliverAddress: {required: true},
                deliverCompany: {required: true}
            },
            messages: {
                deliverAddress: {required: '请输入收货地址'},
                deliverCompany: {required: '请选择物流公司'}
            },
            onsubmit: true,
            submitHandler: function () {
                $.ajax({
                    url: '/stock/selectTransport',
                    type: 'post',
                    data: $('#form').serialize(),
                    success: function () {
                        $('#remoteModal').modal('hide');
                        $('#dt_basic').DataTable().ajax.reload();
                    },
                    error: function (e) {
                        $.bigBox({
                            title: "系统内部错误！",
                            content: "该错误已被记录，请联系管理员，并稍后重试！",
                            color: "#C46A69",
                            icon: "fa fa-warning shake animated",
                            timeout: 6000
                        });
                        e.preventDefault();
                    }
                });
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
    };

    loadScript("js/plugin/jquery-form/jquery-form.min.js", pagefunction);
</script>
</body>
</html>