<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title>新增流程</title>
</head>
<body>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-edit"></i> 新增流程</h4>
</div>

<div class="modal-body no-padding">
    <form id="form" class="smart-form" novalidate="novalidate">
        <fieldset>
            <section>
                <label class="input">
                    <input type="text" name="name" placeholder="流程名称"/>
                </label>
            </section>
            <section>
                <label class="input">
                    <input type="text" name="key" placeholder="key"/>
                </label>
            </section>
            <section>
                <label class="input">
                    <input type="text" name="description" placeholder="描述"/>
                </label>
            </section>
        </fieldset>
        <footer>
            <button type="submit" class="btn btn-primary">
                保 存
            </button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">
                取 消
            </button>
        </footer>
    </form>
</div>

<script>
    pageSetUp();

    var pagefunction = function () {
        var $form = $("#form").validate({
            rules: {
                name: {required: true},
                key: {required: true}
            },
            messages: {
                name: {required: '请输入流程名称'},
                key: {required: '请输入流程key'}
            },
            onsubmit: true,
            submitHandler: function () {
                $.ajax({
                    url: '/workflow/create',
                    type: 'post',
                    data: $('#form').serialize(),
                    success: function (data) {
                        var d = eval(data);
                        alert(d.id);
                        window.location = '/modeler.html?modelId='+d.id;
                    },
                    error: function (e) {
                        $.bigBox({
                            title: "系统内部错误！",
                            content: "该错误已被记录，请联系管理员，并稍后重试！",
                            color: "#C46A69",
                            icon: "fa fa-warning shake animated",
                            timeout: 6000
                        });
                        e.preventDefault();
                    }
                });
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
    };

    loadScript("js/plugin/jquery-form/jquery-form.min.js", pagefunction);
</script>
</body>
</html>