<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title></title>
</head>
<body>
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-edit fa-fw "></i>
            扶持申请
        </h1>
    </div>
</div>

<section id="widget-grid">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false"
                 data-widget-deletebutton="false"
                 data-widget-fullscreenbutton="false" data-widget-togglebutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>扶持申请</h2>
                </header>
                <div role="content">
                    <div class="widget-body no-padding">
                        <form id="form" class="smart-form">
                            <input id="saleId" type="hidden" name="saleId" th:value="${sale.id}"/>
                            <fieldset>
                                <div class="row">
                                    <section class="col col-4">
                                        <label class="label">扶持名称：</label>
                                        <label class="input"><input id="name" name="name" th:value="${sale.name}"
                                                                    disabled="disabled"/></label>
                                    </section>
                                    <section class="col col-4">
                                        <label class="label">价格：</label>
                                        <label class="input"><input id="price" name="price" th:value="${sale.price}"
                                                                    disabled="disabled"/></label>
                                    </section>
                                    <section class="col col-4">
                                        <label class="label">天数：</label>
                                        <label class="input"><input id="days" name="days" th:value="${sale.days}"
                                                                    disabled="disabled"/></label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-3">
                                        <label class="label">期望开始日期：</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-calendar"></i>
                                            <input id="startDate" class="hasDatepicker" name="startDate"
                                                   th:value="${supportapply.startDate}" disabled="disabled"
                                                   type="text">
                                        </label>
                                    </section>
                                    <section class="col col-3">
                                        <label class="label">期望结束日期：</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-calendar"></i>
                                            <input id="endDate" class="hasDatepicker" name="endDate"
                                                   th:value="${supportapply.endDate}" type="text" disabled="disabled">
                                        </label>
                                    </section>
                                    <section class="col col-3">
                                        <label class="label">参与人数：</label>
                                        <label class="input">
                                            <input id="manCount" name="manCount" th:value="${supportapply.manCount}" type="text" class="number" disabled="disabled" />
                                        </label>
                                    </section>
                                    <section class="col col-3">
                                        <label class="label">费用：</label>
                                        <label class="input">
                                            <input id="total" name="total" th:value="${supportapply.manCount*sale.price}" type="text" class="number" disabled="disabled" />
                                        </label>
                                    </section>
                                </div>
                                <section>
                                    <label class="label">简介：</label>
                                    <label class="textarea textarea-resizable">
                                        <textarea class="custom-scroll" disabled="disabled"
                                        >[[${sale.memo}]]</textarea>
                                    </label>
                                </section>
                                <section>
                                    <label class="label">申请要求：</label>
                                    <label class="textarea textarea-resizable">
                                        <textarea class="custom-scroll" id="memo" name="memo" disabled="disabled"
                                        >[[${supportapply.memo}]]</textarea>
                                    </label>
                                </section>
                            </fieldset>
                            <footer>
                                <button type="submit" class="btn btn-primary">
                                    申 请
                                </button>
                                <a href="#/support/index" class="btn btn-danger">
                                    取 消
                                </a>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<!-- Dynamic Modal -->
<div class="modal fade" id="remoteModal" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
        </div>
    </div>
</div>
<!-- /.modal -->
<script>

    var item_count = 0;

    pageSetUp();

    var pagefunction = function () {
        $("#form").validate({
            onsubmit: true,
            submitHandler: function () {
                $.ajax({
                    url: '/supportapply/apply',
                    type: 'post',
                    data: $('#form').serialize(),
                    success: function () {
                        window.location = '#/supportapply/index';
                    },
                    error: function (e) {
                        $.bigBox({
                            title: "系统内部错误！",
                            content: "该错误已被记录，请联系管理员，并稍后重试！",
                            color: "#C46A69",
                            icon: "fa fa-warning shake animated",
                            timeout: 6000
                        });
                        e.preventDefault();
                    }
                });
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });

    };

    loadScript("js/plugin/jquery-form/jquery-form.min.js", pagefunction);
</script>
</body>
</html>