<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title></title>
</head>
<body>

<!-- Bread crumb is created dynamically -->
<!-- row -->
<div class="row">

    <!-- col -->
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <!-- PAGE HEADER -->
            <i class="fa-fw fa fa-table"></i>
            待办任务
        </h1>
    </div>
    <!-- end col -->

</div>

<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <table class="table table-striped table-forum">
                <thead>
                <th th:colspan="4">我的待办任务</th>
                </thead>
                <tbody>
                <tr th:each="task:${tasks}">
                    <td class="text-center" style="width: 40px;"><i class="fa fa-globe fa-2x text-muted"></i></td>
                    <td>
                        <h4><a href="javascript:void(0);">
                            [[${task.name}]]
                        </a>
                            <small>[[${task.stage}]]</small>
                        </h4>
                    </td>
                    <td class="text-center">
                        申请人：<a href="javascript:void(0);">[[${task.applyer}]]</a>
                        <br>
                        <small>申请时间：<i>[[${task.createDate}]]</i></small>
                    </td>
                    <td class="text-center" style="width: 180px;">
                        <a class="btn btn-info btn-sm" th:if="${task.taskDefinitionKey=='adjustApply'}"
                           th:href="${'/#'+task.detailUrl+'reApply/'+task.bussinessId}">调整申请</a>
                        <a class="btn btn-info btn-sm" th:if="${task.taskDefinitionKey=='adjustApply_1'}"
                           th:href="${'/#'+task.detailUrl+'reApply/'+task.bussinessId}">上传合同</a>
                        <a class="btn btn-info btn-sm" th:if="${task.assignee!=null and task.taskDefinitionKey=='setPrice'}"
                           th:href="${'/#'+task.detailUrl+'reApply/'+task.bussinessId}">定价</a>
                        <a class="btn btn-info btn-sm" th:if="${task.assignee!=null and task.taskDefinitionKey=='package'}"
                           th:href="${'/#'+task.detailUrl+'reApply/'+task.bussinessId}">包装</a>
                        <a class="btn btn-info btn-sm" th:if="${task.taskDefinitionKey=='adjustApply'}"
                           th:attr="onclick='cancel('+${task.taskId}+')'" href="javascript:void(0);">取 消</a>
                        <a class="btn btn-info btn-sm" th:if="${task.taskDefinitionKey=='apply'}"
                           th:href="${'/#'+task.detailUrl+'reApply/'+task.bussinessId}">办 理</a>
                        <a class="btn btn-info btn-sm" th:if="${task.assignee==null}"
                           th:attr="onclick='signfor('+${task.taskId}+')'" href="javascript:void(0);">签 收</a>
                        <a class="btn btn-info btn-sm" th:if="${task.assignee!=null and task.taskDefinitionKey!='adjustApply'}"
                           data-toggle="modal" data-target="#remoteModal" th:href="@{'/common/task/transfer/'+${task.taskId}}">转 发</a>
                        <!--<a class="btn btn-info btn-sm" th:if="${task.assignee!=null and task.taskDefinitionKey!='adjustApply'}"
                           data-toggle="modal" data-target="#remoteModal" href="javascript:void(0);">会 签</a>-->
                        <a class="btn btn-info btn-sm"
                           th:if="${task.assignee!=null and task.taskDefinitionKey!='adjustApply' and task.taskDefinitionKey!='adjustApply_1' and task.taskDefinitionKey!='apply' and task.taskDefinitionKey!='setPrice'and task.taskDefinitionKey!='package'}"
                           th:href="@{'/#'+${task.detailUrl}+'complete?key='+${task.taskDefinitionKey}+'&applyer='+${task.applyer}+'&bid='+${task.bussinessId}+'&tid='+${task.taskId}}">办 理</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Dynamic Modal -->
<div class="modal fade" id="remoteModal" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
        </div>
    </div>
</div>
<!-- /.modal -->
<script>
    function signfor(id) {
        $.SmartMessageBox({
                title: "注 意!",
                content: "确定要签收选定的任务吗？",
                buttons: '[取 消][确 定]'
            },
            function (ButtonPressed) {
                if (ButtonPressed === "确 定") {
                    $.ajax({
                        url: '/common/task/claim',
                        type: 'POST',
                        data: {taskId: id.toString()},
                        success: function () {
                            window.location.reload();
                        },
                        error: function (e) {
                            $.bigBox({
                                title: "系统内部错误！",
                                content: "该错误已被记录，请联系管理员，并稍后重试！",
                                color: "#C46A69",
                                icon: "fa fa-warning shake animated",
                                timeout: 6000
                            });
                            e.preventDefault();
                        }
                    });
                }
            });
    }
    function cancel(id) {
        $.SmartMessageBox({
                title: "注 意!",
                content: "确定要取消选定的任务吗？",
                buttons: '[取 消][确 定]'
            },
            function (ButtonPressed) {
                if (ButtonPressed === "确 定") {
                    completeTask(id, [{key: 'reApply', value: false, type: 'B'},{key: 'cancel', value: true, type: 'B'}]);
                }
            });
    }
    function confirm(id) {
        $.SmartMessageBox({
                title: "注 意!",
                content: "确定要该操作吗？",
                buttons: '[取 消][确 定]'
            },
            function (ButtonPressed) {
                if (ButtonPressed === "确 定") {
                    completeTask(id);
                }
            });
    }
</script>
</script>
</body>
</html>