<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title>新增客户</title>
</head>
<body>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-edit"></i> 客户资料</h4>
</div>


<div class="modal-body no-padding">
    <form id="form" class="smart-form" novalidate="novalidate" method="post">
        <ul id="myTab" class="nav nav-tabs bordered">
            <li class="active">
                <a href="#ss1" data-toggle="tab"><i class="fa fa-info"></i> 基本信息</a>
            </li>
            <li>
                <a href="#ss2" data-toggle="tab"><i class="fa fa-money"></i> 财务情况</a>
            </li>
            <li>
                <a href="#ss5" data-toggle="tab"><i class="fa fa-info"></i> 主观信息</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="ss1">
                <fieldset>
                    <div class="row">
                        <section class="col col-4">
                            <label class="input">
                                <input type="text" name="name" id="name" placeholder="学校名称"/>
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="select">
                                <select type="text" name="type" id="type"></select><i></i>
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="select">
                                <select type="text" name="managementModel"
                                        id="managementModel"></select><i></i>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-2">
                            <label class="select"><select name="province" id="s1">
                                <option></option>
                            </select><i></i></label>
                        </section>
                        <section class="col col-2">
                            <label class="select"><select name="city" id="s2">
                                <option></option>
                            </select><i></i></label>
                        </section>
                        <section class="col col-2">
                            <label class="select"><select name="district" id="s3">
                                <option></option>
                            </select><i></i></label>
                        </section>
                        <section class="col col-6">
                            <label class="input">
                                <input type="text" name="address" id="address" placeholder="详细地址"/>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-2">
                            <label class="input"><input type="text" name="numberOfTeacher"
                                                        id="numberOfTeacher" placeholder="员工人数"/></label>
                        </section>
                        <section class="col col-3">
                            <label class="input"><input type="text" name="numberOfFulltime"
                                                        id="numberOfFulltime"
                                                        placeholder="专职作文教师人数"/></label>
                        </section>
                        <section class="col col-3">
                            <label class="input"><input type="text" name="numberOfParttime"
                                                        id="numberOfParttime"
                                                        placeholder="兼职作文教师人数"/></label>
                        </section>
                        <section class="col col-2">
                            <label class="input"><input type="text" name="numberOfOtherTeacher"
                                                        id="numberOfOtherTeacher"
                                                        placeholder="其他教师人数"/></label>
                        </section>
                        <section class="col col-2">
                            <label class="input"><input type="text" name="numberOfOther" id="numberOfOther"
                                                        placeholder="其他岗位人数"/></label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-3">
                            <label class="select">
                                <select type="text" name="position" id="position"></select><i></i>
                            </label>
                        </section>
                        <section class="col col-3">
                            <label class="select">
                                <select type="text" name="planning" id="planning"></select><i></i>
                            </label>
                        </section>
                        <section class="col col-3">
                            <label class="select">
                                <select type="text" name="scale" id="scale"></select><i></i>
                            </label>
                        </section>
                        <section class="col col-3">
                            <label class="input"><input type="text" name="license" id="license"
                                                        placeholder="办学许可证"/></label>
                        </section>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label class="input"><input id="consultArea" name="consultArea" type="text"
                                                        placeholder="咨询区域"/></label>
                        </section>
                        <section class="col col-6">
                            <label class="input"><input id="consultProject" name="consultProject" type="text"
                                                        placeholder="咨询项目"/></label>
                        </section>
                    </div>
                </fieldset>
            </div>
            <div class="tab-pane fade" id="ss2">
                <fieldset>
                    <div class="row">
                        <section class="col col-4">
                            <label class="select">
                                <select type="text" name="payment" id="payment"></select><i></i>
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="select">
                                <select type="text" name="bank" id="bank"></select><i></i>
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="select">
                                <select type="text" name="credit" id="credit"></select><i></i>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-4">
                            <label class="select">
                                <select type="text" name="fund" id="fund"></select><i></i>
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="select">
                                <select type="text" name="attitudeOfPayment" id="attitudeOfPayment"></select><i></i>
                            </label>
                        </section>
                    </div>
                </fieldset>
            </div>
            <div class="tab-pane fade" id="ss5">
                <fieldset>

                    <section>
                        <label class="textarea textarea-resizable">
                            <textarea class="custom-scroll" id="relationReason" name="relationReason" placeholder="原因"></textarea>
                        </label>
                    </section>

                    <div class="row">
                    <section class="col col-6">
                        <label class="textarea textarea-resizable">
                            <textarea class="custom-scroll" placeholder="对客户的了解程度" name="understandingLevel" id="understandingLevel"></textarea>
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="textarea textarea-resizable">
                            <textarea class="custom-scroll" placeholder="客户对总部的态度"></textarea>
                        </label>
                    </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="textarea textarea-resizable">
                                <textarea class="custom-scroll" placeholder="客户长期事业目标"></textarea>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="textarea textarea-resizable">
                                <textarea class="custom-scroll" placeholder="客户短期事业目标"></textarea>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="textarea textarea-resizable">
                                <textarea class="custom-scroll" placeholder="客户目前最关切的"></textarea>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="textarea textarea-resizable">
                                <textarea class="custom-scroll" placeholder="客户更多思考的"></textarea>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="textarea textarea-resizable">
                                <textarea class="custom-scroll" placeholder="客户对什么特别有意见"></textarea>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="textarea textarea-resizable">
                                <textarea class="custom-scroll" placeholder="客户最热衷"></textarea>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="textarea textarea-resizable">
                                <textarea class="custom-scroll" placeholder="在客户眼中最关键的问题"></textarea>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="textarea textarea-resizable">
                                <textarea class="custom-scroll" placeholder="客户面临竞争（主要对手、竞争状况、客户对策）"></textarea>
                            </label>
                        </section>
                    </div>
                </fieldset>
            </div>
        </div>
        <footer>
            <button type="submit" class="btn btn-primary">
                保 存
            </button>
            <button class="btn btn-danger" data-dismiss="modal">
                取 消
            </button>
        </footer>
    </form>
</div>
<script th:src="@{js/geo_utf-8.js}"></script>
<script type="text/javascript">
    pageSetUp();
    var pagefunction = function () {

        BindDictItem("type", "COMPANY_TYPE", "学校类型");
        BindDictItem("managementModel", "MANAGEMENT_MODEL", "经营模式");
        BindDictItem("position", "POSITION", "同行地位");
        BindDictItem("planning", "PLANNING", "发展规划");
        BindDictItem("scale", "SCALE", "校区规模");

        BindDictItem("payment", "PAYMENT", "支付方式");
        BindDictItem("bank", "BANK", "常用银行");
        BindDictItem("credit", "CREDIT", "信用情况");
        BindDictItem("fund", "FUND", "资金情况");
        BindDictItem("attitudeOfPayment", "PAYMENT_ATTITUDE", "付款态度");

        var $form = $("#form").validate({
            rules: {
                name: {required: true}
            },
            messages: {
                name: {required: '请输入学校名称'}
            },
            submitHandler: function () {
                $.ajax({
                    url: '/clientres/create',
                    type: 'post',
                    data: $('#form').serialize(),
                    success: function () {
                        $('#remoteModal').modal('hide');
                        $('#dt_basic').DataTable().ajax.reload();
                    },
                    error: function (e) {
                        $.bigBox({
                            title: "系统内部错误！",
                            content: "该错误已被记录，请联系管理员，并稍后重试！",
                            color: "#C46A69",
                            icon: "fa fa-warning shake animated",
                            timeout: 6000
                        });
                        e.preventDefault();
                    }
                });
            },
            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
    };
    loadScript("js/plugin/jquery-form/jquery-form.min.js", pagefunction);
    $(document).ready(function () {
        setup();
        promptinfo();
    });
    function promptinfo() {
        var s1 = document.getElementById('s1');
        var s2 = document.getElementById('s2');
        var s3 = document.getElementById('s3');
    }
</script>
</body>
</html>