<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title>新增客户</title>
</head>
<body>
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-edit fa-fw "></i>
            客户资料
        </h1>
    </div>
</div>


<section id="widget-grid">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget well" id="wid-id-0" data-widget-editbutton="false"
                 data-widget-deletebutton="false"
                 data-widget-fullscreenbutton="false" data-widget-togglebutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>领用申请</h2>
                </header>
                <div role="content">
                    <div class="widget-body">
                        <form id="form" class="smart-form" novalidate="novalidate" method="post">
                            <ul id="myTab" class="nav nav-tabs bordered">
                                <li class="active">
                                    <a href="#ss1" data-toggle="tab"><i class="fa fa-info"></i> 基本信息</a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade in active" id="ss1">
                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-4">
                                                <label class="label">客户来源：</label>
                                                <label class="select">
                                                    <select name="comeFrom" id="comeFrom"></select><i></i>
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label">联系人：</label>
                                                <label class="input"><input id="contactor" name="contactor"
                                                                            type="text"/></label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label">联系电话：</label>
                                                <label class="input"><input id="contactPhone" name="contactPhone"
                                                                            type="text"/></label>
                                            </section>
                                        </div>
                                        <div class="row" id="dist2">
                                            <section class="col col-3">
                                                <label class="label">咨询区域（省）：</label>
                                                <label class="select"><select name="consultProvince"
                                                                              data-province="---- 选择省 ----">
                                                </select><i></i></label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="label">咨询区域（市）：</label>
                                                <label class="select"><select name="consultCity"
                                                                              data-city="---- 选择市 ----">
                                                </select><i></i></label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="label">咨询区域（区）：</label>
                                                <label class="select"><select name="consultDistrict"
                                                                              data-district="---- 选择区 ----">
                                                </select><i></i></label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="label">咨询项目：</label>
                                                <label class="select"><select id="consultProject"
                                                                              name="consultProject"></select><i></i></label>
                                            </section>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <footer>
                                <button type="submit" class="btn btn-primary">
                                    保 存
                                </button>
                                <a class="btn btn-danger" href="#/clientres/index">
                                    取 消
                                </a>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<!-- Dynamic Modal -->
<div class="modal fade" id="remoteModal" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
        </div>
    </div>
</div>
<!-- /.modal -->
<script th:src="@{js/distpicker.js}"></script>
<script type="text/javascript">
    pageSetUp();
    var pagefunction = function () {

        $("#dist1").distpicker();
        $("#dist2").distpicker();
        BindDictItem("comeFrom", "COME_FROM", "");
        BindDictItem("districtStatus", "DISCTRIC_STATUS", "");
        BindDictItem("consultProject", "PROJECT_TYPE", "");

        var $form = $("#form").validate({
            rules: {
                name: {required: true}
            },
            messages: {
                name: {required: '请输入学校名称'}
            },
            submitHandler: function () {
                $.ajax({
                    url: '/clientres/create',
                    type: 'post',
                    data: $('#form').serialize(),
                    success: function () {
                        window.location.href = "#/clientres/index";
                    },
                    error: function (e) {
                        $.bigBox({
                            title: "系统内部错误！",
                            content: "该错误已被记录，请联系管理员，并稍后重试！",
                            color: "#C46A69",
                            icon: "fa fa-warning shake animated",
                            timeout: 6000
                        });
                        e.preventDefault();
                    }
                });
            },
            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
    };
    loadScript("js/plugin/jquery-form/jquery-form.min.js", pagefunction);
</script>
</body>
</html>