<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title>新增客户</title>
</head>
<body>
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-edit fa-fw "></i>
            客户资料
        </h1>
    </div>
</div>


<section id="widget-grid">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget well" id="wid-id-0" data-widget-editbutton="false"
                 data-widget-deletebutton="false"
                 data-widget-fullscreenbutton="false" data-widget-togglebutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>领用申请</h2>
                </header>
                <div role="content">
                    <div class="widget-body">
                        <form id="form" class="smart-form" novalidate="novalidate" method="post">
                            <ul id="myTab" class="nav nav-tabs bordered">
                                <li class="active">
                                    <a href="#ss1" data-toggle="tab"><i class="fa fa-info"></i> 基本信息</a>
                                </li>
                                <li>
                                    <a href="#ss5" data-toggle="tab"><i class="fa fa-info"></i> 沟通记录</a>
                                </li>
                                <li>
                                    <a href="#ss6" data-toggle="tab"><i class="fa fa-info"></i> 合同管理</a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade in active" id="ss1">
                                    <fieldset>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label">客户来源：</label>
                                            <label class="select">
                                                <select name="comeFrom" id="comeFrom" th:value="${company.comeFrom}"></select><i></i>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">学校名称：</label>
                                            <label class="input">
                                                <input type="text" name="name" id="name" th:value="${company.name}"/>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">主营项目：</label>
                                            <label class="input">
                                                <input type="text" name="majorProject" id="majorProject" th:value="${company.majorProject}"/>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row" id="dist2">
                                        <section class="col col-3">
                                            <label class="label">咨询区域（省）：</label>
                                            <label class="select"><select name="consultProvince">
                                            </select><i></i></label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">咨询区域（市）：</label>
                                            <label class="select"><select name="consultCity">
                                            </select><i></i></label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">咨询区域（区）：</label>
                                            <label class="select"><select name="consultDistrict">
                                            </select><i></i></label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">咨询项目：</label>
                                            <label class="select"><select id="consultProject"
                                                                          name="consultProject"></select><i></i></label>
                                        </section>
                                    </div>
                                    <div class="row" id="dist1">
                                        <section class="col col-2">
                                            <label class="label">通讯地址（省）：</label>
                                            <label class="select"><select name="province">
                                            </select><i></i></label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">通讯地址（市）：</label>
                                            <label class="select"><select name="city">
                                            </select><i></i></label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">通讯地址（区）：</label>
                                            <label class="select"><select name="district">
                                            </select><i></i></label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label">通讯地址（街道门牌号）：</label>
                                            <label class="input">
                                                <input type="text" name="address" id="address" th:value="${company.address}"/>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label">校区面积：</label>
                                            <label class="input"><input id="area" name="area" th:value="${company.area}"/></label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">校区数量：</label>
                                            <label class="input"><input id="schoolCount" name="schoolCount" class="number" th:value="${company.schoolCount}"/></label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">单期人数：</label>
                                            <label class="input"><input id="manCount" name="manCount" class="number" th:value="${company.manCount}"/></label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">区域状态：</label>
                                            <label class="select"><select id="districtStatus"
                                                                          name="districtStatus"></select><i></i></label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">联系人：</label>
                                            <label class="input"><input id="contactor" name="contactor"
                                                                        type="text" th:value="${company.contactor}"/></label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">联系电话：</label>
                                            <label class="input"><input id="contactPhone" name="contactPhone"
                                                                        type="text" th:value="${company.contactPhone}"/></label>
                                        </section>
                                    </div>
                                    </fieldset>
                                </div>
                                <div class="tab-pane fade" id="ss5">
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table id="dt_basic"
                                                       class="table table-striped table-bordered table-hover table-checkable"
                                                       width="100%">
                                                    <thead>
                                                    <th>沟通时间</th>
                                                    <th>存在问题</th>
                                                    <th>解决方案</th>
                                                    <th>备注</th>
                                                    <th>沟通人</th>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="tab-pane fade" id="ss6">
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table id="dt_basic_1"
                                                       class="table table-striped table-bordered table-hover table-checkable"
                                                       width="100%">
                                                    <thead>
                                                    <th>代理项目</th>
                                                    <th>代理类型</th>
                                                    <th>代理级别</th>
                                                    <th>合同名称</th>
                                                    <th>生效时间</th>
                                                    <th>结束时间</th>
                                                    <th>签署时间</th>
                                                    <th>签署人</th>
                                                    <th>附件</th>
                                                    <th></th>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <footer>
                                <button type="submit" class="btn btn-primary" th:if="${not company.signed}">
                                    保 存
                                </button>
                                <a class="btn btn-warning" href="#/clientres/index">
                                    返 回
                                </a>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<!-- Dynamic Modal -->
<div class="modal fade" id="remoteModal" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
        </div>
    </div>
</div>
<!-- /.modal -->
<script th:src="@{js/distpicker.js}"></script>
<script th:inline="javascript">
    pageSetUp();
    var pagefunction = function () {

        $("#dist1").distpicker({
            province: [[${company.province}]],
            city: [[${company.city}]],
            district: [[${company.district}]]
        });
        $("#dist2").distpicker({
            province: [[${company.consultProvince}]],
            city: [[${company.consultCity}]],
            district: [[${company.consultDistrict}]]
        });

        BindDictItem("comeFrom", "COME_FROM", "",[[${company.comeFrom}]]);
        BindDictItem("districtStatus", "DISCTRIC_STATUS", "",[[${company.districtStatus}]]);
        BindDictItem("consultProject", "PROJECT_TYPE", "",[[${company.consultProject}]]);

        var responsiveHelper_dt_basic = undefined;
        var breakpointDefinition = {tablet: 1024, phone: 480};

        $('#dt_basic').dataTable({
            "processing": true,
            "serverSide": true,
            ajax: {
                url: "/communication/index/" + [[${company.id}]],
                "type": "POST",
                "contentType": "application/json; charset=utf-8",
                "data": function (d) {
                    return JSON.stringify(d);
                }
            },
            "columns": [
                {"data": "dateCeated", render: CONSTANT.DATA_TABLES.RENDER.DATETIME},
                {"data": "question"},
                {"data": "solution"},
                {"data": "memo"},
                {"data": "operator"}
            ],
            "autoWidth": true,
            "searching": false,
            "language": CONSTANT.DATA_TABLES.DEFAULT_OPTION.LANGUAGE,
            "bStateSave": true,
            "preDrawCallback": function () {
                if (!responsiveHelper_dt_basic) {
                    responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                }
            },
            "rowCallback": function (nRow) {
                responsiveHelper_dt_basic.createExpandIcon(nRow);
            },
            "drawCallback": function (oSettings) {
                responsiveHelper_dt_basic.respond();
                $(":checkbox[name='check-all']").prop('checked', false);
            },
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'<'toolbar'>><'col-sm-6 col-xs-12 hidden-xs'l>>t<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>"
        });

        $("div.toolbar").html('<div class="text-left"><a class="btn btn-primary" data-toggle="modal" data-target="#remoteModal" href="communication/create/' + [[${company.id}]] + '"><i class="fa fa-edit"> </i> <span class="hidden-mobile">新增记录</span> </a></div>');

        var responsiveHelper_dt_basic_1 = undefined;
        $('#dt_basic_1').dataTable({
            "processing": true,
            "serverSide": true,
            ajax: {
                url: "/contract/index/" + [[${company.id}]],
                "type": "POST",
                "contentType": "application/json; charset=utf-8",
                "data": function (d) {
                    return JSON.stringify(d);
                }
            },
            "columns": [
                {"data": "projectName"},
                {"data": "agentTypeName"},
                {"data": "agentLevelName"},
                {"data": "title"},
                {"data": "startDate", render: CONSTANT.DATA_TABLES.RENDER.DATE},
                {"data": "endDate", render: CONSTANT.DATA_TABLES.RENDER.DATE},
                {"data": "signDate", render: CONSTANT.DATA_TABLES.RENDER.DATE},
                {"data": "operator"},
                {"data": null, render: formatAttachment},
                {"data": null, render: formatStatus}
            ],
            "autoWidth": true,
            "searching": false,
            "language": CONSTANT.DATA_TABLES.DEFAULT_OPTION.LANGUAGE,
            "bStateSave": true,
            "preDrawCallback": function () {
                if (!responsiveHelper_dt_basic_1) {
                    responsiveHelper_dt_basic_1 = new ResponsiveDatatablesHelper($('#dt_basic_1'), breakpointDefinition);
                }
            },
            "rowCallback": function (nRow) {
                responsiveHelper_dt_basic_1.createExpandIcon(nRow);
            },
            "drawCallback": function (oSettings) {
                responsiveHelper_dt_basic_1.respond();
                $(":checkbox[name='check-all']").prop('checked', false);
            },
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'><'col-sm-6 col-xs-12 hidden-xs'l>>t<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>"
        });

        var $form = $("#form").validate({
            rules: {
                name: {required: true}
            },
            messages: {
                name: {required: '请输入学校名称'}
            },
            submitHandler: function () {
                $.ajax({
                    url: '/clientres/edit',
                    type: 'post',
                    data: $('#form').serialize(),
                    success: function () {
                        window.location.href = "#/clientres/index";
                    },
                    error: function (e) {
                        $.bigBox({
                            title: "系统内部错误！",
                            content: "该错误已被记录，请联系管理员，并稍后重试！",
                            color: "#C46A69",
                            icon: "fa fa-warning shake animated",
                            timeout: 6000
                        });
                        e.preventDefault();
                    }
                });
            },
            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
    };

    loadScript("js/plugin/datatables/jquery.dataTables.min.js", function () {
        loadScript("js/plugin/datatables/dataTables.colVis.min.js", function () {
            loadScript("js/plugin/datatables/dataTables.tableTools.min.js", function () {
                loadScript("js/plugin/datatables/dataTables.bootstrap.min.js", function () {
                    loadScript("js/plugin/datatable-responsive/datatables.responsive.min.js", function () {
                        loadScript("js/plugin/jquery-form/jquery-form.min.js", pagefunction);
                    })
                });
            });
        });
    });

    function formatAttachment(cellValue, options, rowObject) {
        html = "";
        for (var i = 0; i < rowObject.attachments.length; i++) {
            html += "<a href='/common/download/" + rowObject.attachments[i].id + "'>" + rowObject.attachments[i].name + "." + rowObject.attachments[i].fileType + "</a>;";
        }
        return html;
    }
    function formatStatus(cellValue, options, rowObject) {
        html='';
        if(rowObject.invalid)
            html='<label class="label label-warning">无效</label>';
        else
            html='<label class="label label-success">生效</label>';
        return html;
    }
</script>

</body>
</html>