<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title>客户资源</title>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{css/plugin/jstree/style.css}"/>
</head>
<body>
<!-- Bread crumb is created dynamically -->
<!-- row -->
<div class="row">

    <!-- col -->
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <!-- PAGE HEADER -->
            <i class="fa-fw fa fa-table"></i>
            客户资源
        </h1>
    </div>
    <!-- end col -->

</div>
<!-- end row -->

<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false"
                 data-widget-deletebutton="false"
                 data-widget-fullscreenbutton="false" data-widget-togglebutton="false">
                <header>
                    <span class="widget-icon">
                        <i class="fa fa-table"></i>
                    </span>
                    <h2><strong> 客户资源</strong></h2>
                    <div class="widget-toolbar" shiro:hasPermission="/clientres/delete">
                        <a class="btn btn-danger" href="javascript:void(0);" id="delete">
                            <i class="fa fa-trash-o"> </i>
                            <span class="hidden-mobile">删 除</span>
                        </a>
                    </div>
                    <div class="widget-toolbar" shiro:hasPermission="/clientres/create">
                        <a class="btn btn-primary" href="#/clientres/create">
                            <i class="fa fa-edit"> </i>
                            <span class="hidden-mobile">新 增</span>
                        </a>
                    </div>
                </header>
                <div>
                    <div class="widget-body no-padding" id="grid-content">
                        <table id="dt_basic" class="table table-striped table-bordered table-hover table-checkable"
                               width="100%">
                            <thead>
                            <tr>
                                <th class="hasinput"><input type="text" class="form-control"/></th>
                                <th class="hasinput"><input type="text" class="form-control"/></th>
                                <th class="hasinput"><input type="text" class="form-control"/></th>
                                <th class="hasinput"><input type="text" class="form-control"/></th>
                                <th class="hasinput"><input type="text" class="form-control"/></th>
                                <th class="hasinput"><input type="text" class="form-control"/></th>
                                <th class="hasinput"><input type="text" class="form-control"/></th>
                                <th class="hasinput"><input type="text" class="form-control"/></th>
                                <th class="hasinput"><input type="text" class="form-control"/></th>
                                <th class="hasinput"><input type="text" class="form-control"/></th>
                                <th class="hasinput"><input type="text" class="form-control"/></th>
                                <th class="hasinput"></th>
                            </tr>
                            <tr>
                                <th>录入时间</th>
                                <th>客户来源</th>
                                <th>客户名称</th>
                                <th>咨询项目</th>
                                <th>地址</th>
                                <th>咨询省份</th>
                                <th>咨询区域</th>
                                <th>联系人</th>
                                <th>联系电话</th>
                                <th>录入人</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </article>
        <!-- WIDGET END -->

    </div>

    <!-- end row -->

</section>
<!-- end widget grid -->

<!-- Dynamic Modal -->
<div class="modal fade" id="remoteModal" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
        </div>
    </div>
</div>
<!-- /.modal -->

<script type="text/javascript">

    pageSetUp();

    var pagefunction = function () {

        var responsiveHelper_dt_basic = undefined;
        var breakpointDefinition = {tablet: 1024, phone: 480};

        var otable = $('#dt_basic').DataTable({
            "processing": true,
            ajax: {
                url: "/clientres/index",
                "type": "POST",
                "contentType": "application/json; charset=utf-8",
                "data": function (d) {
                    return JSON.stringify(d);
                }
            },
            "columns": [
                {"data": "dateCeated", render: CONSTANT.DATA_TABLES.RENDER.DATETIME},
                {"data": "comeFrom"},
                {"data": "name"},
                {"data": "consultProject"},
                {"data": "address"},
                {"data": "consultProvince"},
                {"data": null, render: formatArea},
                {"data": "contactor"},
                {"data": "contactPhone"},
                {"data": "createrName"},
                {"data": null, render: formatStatus},
                {
                    "data": "operate",
                    "sClass": "text-center",
                    width: "160px",
                    orderable: false,
                    render: formatAction
                }
            ],
            "autoWidth": true,
            "language": CONSTANT.DATA_TABLES.DEFAULT_OPTION.LANGUAGE,
            "bStateSave": true,
            "preDrawCallback": function () {
                if (!responsiveHelper_dt_basic) {
                    responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                }
            },
            "rowCallback": function (nRow) {
                responsiveHelper_dt_basic.createExpandIcon(nRow);
            },
            "drawCallback": function (oSettings) {
                responsiveHelper_dt_basic.respond();
            },
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'><'col-sm-6 col-xs-12 hidden-xs'l>>t<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>"
        });

        $("#dt_basic thead th input[type=text]").on('keyup change', function () {
            otable.column($(this).parent().index() + ':visible')
                .search(this.value)
                .draw();

        });

    }

    loadScript("js/plugin/datatables/jquery.dataTables.min.js", function () {
        loadScript("js/plugin/datatables/dataTables.tableTools.min.js", function () {
            loadScript("js/plugin/datatables/dataTables.bootstrap.min.js", function () {
                loadScript("js/plugin/datatable-responsive/datatables.responsive.min.js", pagefunction)
            });
        });
    });

    $('#dt_basic').on("change", ":checkbox", function () {
        if ($(this).is("[name='check-all']"))
            $(":checkbox", "#dt_basic").prop("checked", $(this).prop("checked"));
        else {
            var checkbox = $("tbody:checkbox", "#dt_basic");
            $(":checkbox[name='check-all']", "#dt_basic").prop("checked", checkbox.length == checkbox.filter(":checked"));
        }
    });
    function formatStatus(cellValue, options, rowObject) {
        if (rowObject.signed)
            return "<span class='label label-success'>已签约</span>";
        else if (rowObject.failed)
            return "<span class='label label-default'>签约失败</span>";
        else
            return "<span class='label label-warning'>准客户</span>";
    }
    function formatArea(cellValue, options, rowObject) {
        return rowObject.consultCity + "-" + rowObject.consultDistrict;
    }
    function formatAction(cellValue, options, rowObject) {
        var html = '<div class="btn-group btn-group-justified">';
        try {
            if (rowObject.assigned) {
                if (setEditBtn) html += setEditBtn(rowObject.id);
            }
            if (!rowObject.assigned) {
                if (setAssignBtn) html += setAssignBtn(rowObject.id);
            }
            if (!rowObject.signed) {
                if (setSignBtn) html += setSignBtn(rowObject.id);
            }
            if (rowObject.signed) {
                if (setContactBtn) html += setContactBtn(rowObject.id);
            }
        } catch (e) {
        }
        html += '</div>';
        return html;
    }
</script>
<script type="text/javascript" shiro:hasAnyRoles="ROLE_LEASING_EXECUTIVE">
    function setSignBtn(id) {
        var h = '<a href="#/contract/create/' + id + '" class="btn btn-primary btn-xs"><span class="hidden-mobile">签约</span></a>';
        return h;
    }
</script>
<script type="text/javascript" shiro:hasAnyRoles="ROLE_LEASE_MANAGER,ROLE_LEASING_EXECUTIVE">
    function setContactBtn(id) {
        h = '<a href="#/contract/create/' + id + '" class="btn btn-primary btn-xs"><span class="hidden-mobile">合同变更</span></a>';
        h += '<a href="#/contract/create/' + id + '" class="btn btn-primary btn-xs"><span class="hidden-mobile">续约/转让</span></a>';
        return h;
    }
</script>
<script type="text/javascript" shiro:hasAnyRoles="ROLE_LEASE_MANAGER,ROLE_LEASING_EXECUTIVE">
    function setEditBtn(id) {
        h = '<a href="#/clientres/edit/' + id + '" class="btn-warning btn btn-xs"><i class="fa fa-edit"></i> <span class="hidden-mobile">客户资料</span></a>';
        return h;
    }
</script>
<script type="text/javascript" shiro:hasRole="ROLE_LEASE_MANAGER">
    function setAssignBtn(id) {
        return '<a class="btn btn-primary btn-xs" href="javascript:void(0);" onclick="auto(\'' + id + '\');"><span>自动分配</span></a><a class="btn btn-primary btn-xs" data-toggle="modal" data-target="#remoteModal" href="clientres/man/' + id + '"><span>手工分配</span></a>';
    }
    function auto(id) {
        $.SmartMessageBox({
                title: "注 意!",
                content: "确定要自动分配该客户吗？",
                buttons: '[取 消][确 定]'
            },
            function (ButtonPressed) {
                if (ButtonPressed === "确 定") {
                    $.ajax({
                        url: '/clientres/auto',
                        type: 'POST',
                        data: {id: id},
                        success: function () {
                            $('#dt_basic').DataTable().ajax.reload();
                        },
                        error: function (e) {
                            $.bigBox({
                                title: "系统内部错误！",
                                content: "该错误已被记录，请联系管理员，并稍后重试！",
                                color: "#C46A69",
                                icon: "fa fa-warning shake animated",
                                timeout: 6000
                            });
                            e.preventDefault();
                        }
                    });
                }
            });
    }
</script>
<script type="text/javascript" shiro:hasPermission="/clientres/delete">
    $('#delete').on('click', function (e) {
        var ids = [];
        $('input[name="check-id"]:checked').each(function () {
            ids.push($(this).val());
        });
        if (ids != "") {
            del(ids);
        }
        else {
            $.SmartMessageBox({
                title: "注 意!",
                content: "请先选择需要操作的数据项！",
                buttons: '[确 定]'
            });
            e.preventDefault();
        }
    });

    function del(id) {
        $.SmartMessageBox({
                title: "注 意!",
                content: "确定要删除选定的数据项吗？",
                buttons: '[取 消][确 定]'
            },
            function (ButtonPressed) {
                if (ButtonPressed === "确 定") {
                    $.ajax({
                        url: '/clientres/delete',
                        type: 'POST',
                        data: {ids: id.toString()},
                        success: function () {
                            $('#dt_basic').DataTable().ajax.reload();
                        },
                        error: function (e) {
                            $.bigBox({
                                title: "系统内部错误！",
                                content: "该错误已被记录，请联系管理员，并稍后重试！",
                                color: "#C46A69",
                                icon: "fa fa-warning shake animated",
                                timeout: 6000
                            });
                            e.preventDefault();
                        }
                    });
                }
            });
    }
    function failed(id) {
        $.SmartMessageBox({
                title: "注 意!",
                content: "确定签约不成功吗？",
                buttons: '[取 消][确 定]'
            },
            function (ButtonPressed) {
                if (ButtonPressed === "确 定") {
                    $.ajax({
                        url: '/clientres/failed',
                        type: 'POST',
                        data: {ids: id.toString()},
                        success: function () {
                            $('#dt_basic').DataTable().ajax.reload();
                        },
                        error: function (e) {
                            $.bigBox({
                                title: "系统内部错误！",
                                content: "该错误已被记录，请联系管理员，并稍后重试！",
                                color: "#C46A69",
                                icon: "fa fa-warning shake animated",
                                timeout: 6000
                            });
                            e.preventDefault();
                        }
                    });
                }
            });
    }
</script>
</body>
</html>