<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title></title>
</head>
<body>
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-edit fa-fw "></i>
            提交工单
        </h1>
    </div>
</div>

<section id="widget-grid">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false"
                 data-widget-deletebutton="false"
                 data-widget-fullscreenbutton="false" data-widget-togglebutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>提交工单</h2>
                </header>
                <div role="content">
                    <div class="widget-body no-padding">
                        <form id="form" class="smart-form">
                            <fieldset>
                                <section>
                                    <label class="label">工单类型：</label>
                                    <label class="select">
                                        <select name="type" id="type"></select><i></i>
                                    </label>
                                </section>
                                <section>
                                    <label class="label">内容：</label>
                                    <label class="textarea textarea-resizable">
                                        <textarea class="custom-scroll" id="memo" name="memo"
                                        ></textarea>
                                    </label>
                                </section>
                            </fieldset>
                            <footer>
                                <button type="submit" class="btn btn-primary">
                                    提 交
                                </button>
                                <a href="#/my/workorder" class="btn btn-danger">
                                    取 消
                                </a>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<!-- Dynamic Modal -->
<div class="modal fade" id="remoteModal" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
        </div>
    </div>
</div>
<!-- /.modal -->
<script>

    pageSetUp();

    BindDictItem("type", "WORK_ORDER_TYPE", "工单类型");

    var pagefunction = function () {
        $("#form").validate({
            onsubmit: true,
            submitHandler: function () {
                $.ajax({
                    url: '/my/createworkword',
                    type: 'post',
                    data: $('#form').serialize(),
                    success: function () {
                        window.location = '#/my/workorder';
                    },
                    error: function (e) {
                        $.bigBox({
                            title: "系统内部错误！",
                            content: "该错误已被记录，请联系管理员，并稍后重试！",
                            color: "#C46A69",
                            icon: "fa fa-warning shake animated",
                            timeout: 6000
                        });
                        e.preventDefault();
                    }
                });
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });

    };

    loadScript("js/plugin/jquery-form/jquery-form.min.js", pagefunction);
</script>
</body>
</html>