<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title></title>
</head>
<body>

<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-edit fa-fw "></i>
            我的资料
        </h1>
    </div>
</div>

<section id="widget-grid">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget well" id="wid-id-0" data-widget-editbutton="false"
                 data-widget-deletebutton="false"
                 data-widget-fullscreenbutton="false" data-widget-togglebutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>系统设置</h2>
                </header>
                <div role="content">
                    <div class="widget-body">
    <div class="row" id="result" style="display: none;">
        <article class="col-sm-12">
            <div class="alert alert-success fade in">
                <button class="close" data-dismiss="alert">
                    ×
                </button>
                <i class="fa-fw fa fa-check"></i>
                <strong>保存成功</strong>
            </div>
        </article>
    </div>
    <form id="form" class="smart-form" novalidate="novalidate" method="post">
        <ul id="myTab" class="nav nav-tabs bordered">
            <li class="active">
                <a href="#ss1" data-toggle="tab"><i class="fa fa-info"></i> 我的信息</a>
            </li>
            </li>
            <li>
                <a href="#ss6" data-toggle="tab"><i class="fa fa-info"></i> 我的合同</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="ss1">
                <fieldset>
                    <div class="row">
                        <section class="col col-4">
                            <label class="label">学校名称：</label>
                            <label class="input">
                                <input type="text" name="name" id="name" placeholder="学校名称" th:value="${company.name}" disabled="disabled"/>
                            </label>
                        </section>
                    </div>
                    <div class="row" id="dist1">
                        <section class="col col-2">
                            <label class="label">省：</label>
                            <label class="select"><select name="province" disabled="disabled">
                            </select><i></i></label>
                        </section>
                        <section class="col col-2">
                            <label class="label">市：</label>
                            <label class="select"><select name="city" disabled="disabled">
                            </select><i></i></label>
                        </section>
                        <section class="col col-2">
                            <label class="label">区：</label>
                            <label class="select"><select name="district" disabled="disabled">
                            </select><i></i></label>
                        </section>
                        <section class="col col-6">
                            <label class="label">详细地址：</label>
                            <label class="input">
                                <input type="text" name="address" id="address" placeholder="详细地址" th:value="${company.address}"/>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-2">
                            <label class="label">员工人数：</label>
                            <label class="input"><input type="text" name="numberOfTeacher"
                                                        id="numberOfTeacher" placeholder="员工人数" th:value="${company.numberOfTeacher}"/></label>
                        </section>
                        <section class="col col-3">
                            <label class="label">专职作文教师人数：</label>
                            <label class="input"><input type="text" name="numberOfFulltime"
                                                        id="numberOfFulltime"
                                                        placeholder="专职作文教师人数" th:value="${company.numberOfFulltime}"/></label>
                        </section>
                        <section class="col col-3">
                            <label class="label">兼职作文教师人数：</label>
                            <label class="input"><input type="text" name="numberOfParttime"
                                                        id="numberOfParttime"
                                                        placeholder="兼职作文教师人数" th:value="${company.numberOfParttime}"/></label>
                        </section>
                        <section class="col col-2">
                            <label class="label">其他教师人数：</label>
                            <label class="input"><input type="text" name="numberOfOtherTeacher"
                                                        id="numberOfOtherTeacher"
                                                        placeholder="其他教师人数" th:value="${company.numberOfOtherTeacher}"/></label>
                        </section>
                        <section class="col col-2">
                            <label class="label">其他岗位人数：</label>
                            <label class="input"><input type="text" name="numberOfOther" id="numberOfOther"
                                                        placeholder="其他岗位人数" th:value="${company.numberOfOther}"/></label>
                        </section>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label class="label">联系人：</label>
                            <label class="input"><input id="contactor" name="contactor"
                                                        type="text"
                                                        placeholder="联系人" th:value="${company.contactor}"/></label>
                        </section>
                        <section class="col col-6">
                            <label class="label">联系电话：</label>
                            <label class="input"><input id="contactPhone" name="contactPhone"
                                                        type="text"
                                                        placeholder="联系电话" th:value="${company.contactPhone}"/></label>
                        </section>
                    </div>
                </fieldset>
            </div>
            <div class="tab-pane fade" id="ss6">
                <fieldset>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="dt_basic_1"
                                   class="table table-striped table-bordered table-hover table-checkable"
                                   width="100%">
                                <thead>
                                <th>代理项目</th>
                                <th>代理类型</th>
                                <th>代理级别</th>
                                <th>合同名称</th>
                                <th>生效时间</th>
                                <th>结束时间</th>
                                <th>签署时间</th>
                                <th>签署人</th>
                                <th></th>
                                </thead>
                            </table>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <footer>
            <button type="submit" class="btn btn-primary">
                保 存
            </button>
        </footer>
    </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<script th:src="@{js/distpicker.js}"></script>
<script th:inline="javascript">
    pageSetUp();
    var pagefunction = function () {

        $("#dist1").distpicker({
            province: [[${company.province}]],
            city: [[${company.city}]],
            district: [[${company.district}]]
        });

        BindDictItem("type", "COMPANY_TYPE", "学校类型",[[${company.type}]]);
        BindDictItem("managementModel", "MANAGEMENT_MODEL", "经营模式",[[${company.managementModel}]]);
        BindDictItem("position", "POSITION", "同行地位",[[${company.position}]]);
        BindDictItem("planning", "PLANNING", "发展规划",[[${company.planning}]]);
        BindDictItem("scale", "SCALE", "校区规模",[[${company.scale}]]);

        var breakpointDefinition = {tablet: 1024, phone: 480};

        var responsiveHelper_dt_basic_1 = undefined;
        $('#dt_basic_1').dataTable({
            "processing": true,
            "serverSide": true,
            ajax: {
                url: "/contract/index/" + [[${company.id}]],
                "type": "POST",
                "contentType": "application/json; charset=utf-8",
                "data": function (d) {
                    return JSON.stringify(d);
                }
            },
            "columns": [
                {"data": "projectName"},
                {"data": "agentTypeName"},
                {"data": "agentLevelName"},
                {"data": "title"},
                {"data": "startDate", render: CONSTANT.DATA_TABLES.RENDER.DATE},
                {"data": "endDate", render: CONSTANT.DATA_TABLES.RENDER.DATE},
                {"data": "signDate", render: CONSTANT.DATA_TABLES.RENDER.DATE},
                {"data": "operator"},
                {"data": null, render: formatStatus}
            ],
            "autoWidth": true,
            "searching": false,
            "language": CONSTANT.DATA_TABLES.DEFAULT_OPTION.LANGUAGE,
            "bStateSave": true,
            "preDrawCallback": function () {
                if (!responsiveHelper_dt_basic_1) {
                    responsiveHelper_dt_basic_1 = new ResponsiveDatatablesHelper($('#dt_basic_1'), breakpointDefinition);
                }
            },
            "rowCallback": function (nRow) {
                responsiveHelper_dt_basic_1.createExpandIcon(nRow);
            },
            "drawCallback": function (oSettings) {
                responsiveHelper_dt_basic_1.respond();
                $(":checkbox[name='check-all']").prop('checked', false);
            },
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'><'col-sm-6 col-xs-12 hidden-xs'l>>t<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>"
        });

        var $form = $("#form").validate({
            rules: {
                name: {required: true}
            },
            messages: {
                name: {required: '请输入学校名称'}
            },
            submitHandler: function () {
                $.ajax({
                    url: '/my/info',
                    type: 'post',
                    data: $('#form').serialize(),
                    success: function () {
                        $('#result').show();
                    },
                    error: function (e) {
                        $.bigBox({
                            title: "系统内部错误！",
                            content: "该错误已被记录，请联系管理员，并稍后重试！",
                            color: "#C46A69",
                            icon: "fa fa-warning shake animated",
                            timeout: 6000
                        });
                        e.preventDefault();
                    }
                });
            },
            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
    };
    loadScript("js/plugin/datatables/jquery.dataTables.min.js", function () {
        loadScript("js/plugin/datatables/dataTables.colVis.min.js", function () {
            loadScript("js/plugin/datatables/dataTables.tableTools.min.js", function () {
                loadScript("js/plugin/datatables/dataTables.bootstrap.min.js", function () {
                    loadScript("js/plugin/datatable-responsive/datatables.responsive.min.js", function () {
                        loadScript("js/plugin/jquery-form/jquery-form.min.js", pagefunction);
                    })
                });
            });
        });
    });

    function formatStatus(cellValue, options, rowObject) {
        html='';
        if(rowObject.invalid)
            html='<label class="label label-warning">无效</label>';
        else
            html='<label class="label label-success">生效</label>';
        return html;
    }
</script>
</body>
</html>