<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title></title>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{css/plugin/jstree/style.css}"/>
</head>
<body>
<!-- Bread crumb is created dynamically -->
<!-- row -->
<div class="row">

    <!-- col -->
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <!-- PAGE HEADER -->
            <i class="fa-fw fa fa-table"></i>
            客户管理
        </h1>
    </div>
    <!-- end col -->

</div>
<!-- end row -->

<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false"
                 data-widget-deletebutton="false"
                 data-widget-fullscreenbutton="false" data-widget-togglebutton="false">
                <header>
                    <span class="widget-icon">
                        <i class="fa fa-table"></i>
                    </span>
                    <h2><strong> 客户管理</strong></h2>
                </header>
                <div>
                    <div class="widget-body no-padding" id="grid-content">
                        <table id="dt_basic" class="table table-striped table-bordered table-hover table-checkable"
                               width="100%">
                            <thead>
                            <tr>
                                <th class="hasinput"><input type="text" class="form-control"/></th>
                                <th class="hasinput"><input type="text" class="form-control"/></th>
                                <th class="hasinput"><input type="text" class="form-control"/></th>
                                <th class="hasinput"><input type="text" class="form-control"/></th>
                                <th class="hasinput"><input type="text" class="form-control"/></th>
                                <th class="hasinput"></th>
                                <th class="hasinput"></th>
                            </tr>
                            <tr>
                                <th>代理区域</th>
                                <th>合同签署人</th>
                                <th>联系电话</th>
                                <th>代理项目</th>
                                <th>项目发展级别</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </article>
        <!-- WIDGET END -->

    </div>

    <!-- end row -->

</section>
<!-- end widget grid -->

<!-- Dynamic Modal -->
<div class="modal fade" id="remoteModal" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
        </div>
    </div>
</div>
<!-- /.modal -->

<script type="text/javascript">

    pageSetUp();

    var pagefunction = function () {

        var responsiveHelper_dt_basic = undefined;
        var breakpointDefinition = {tablet: 1024, phone: 480};

        var otable = $('#dt_basic').DataTable({
            "processing": true,
            ajax: {
                url: "/client/index",
                "type": "POST",
                "contentType": "application/json; charset=utf-8",
                "data": function (d) {
                    return JSON.stringify(d);
                }
            },
            "columns": [
                {"data": null, render: formatArea},
                {"data": null, render: formatSign},
                {"data": null, render: formatPhone},
                {"data": null, render: formatProject},
                {"data": null, render: formatLevel},
                {"data": "enabled", "sClass": "text-center", render: formatStatus, width: "50px"},
                {
                    "data": "operate",
                    "sClass": "text-center",
                    width: "160px",
                    orderable: false,
                    render: formatAction
                }
            ],
            "autoWidth": true,
            "language": CONSTANT.DATA_TABLES.DEFAULT_OPTION.LANGUAGE,
            "bStateSave": true,
            "preDrawCallback": function () {
                if (!responsiveHelper_dt_basic) {
                    responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                }
            },
            "rowCallback": function (nRow) {
                responsiveHelper_dt_basic.createExpandIcon(nRow);
            },
            "drawCallback": function (oSettings) {
                responsiveHelper_dt_basic.respond();
                runAllCharts();
            },
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'><'col-sm-6 col-xs-12 hidden-xs'l>>t<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>"
        });

        $("#dt_basic thead th input[type=text]").on('keyup change', function () {
            otable.column($(this).parent().index() + ':visible')
                .search(this.value)
                .draw();

        });

    }

    loadScript("js/plugin/datatables/jquery.dataTables.min.js", function () {
        loadScript("js/plugin/datatables/dataTables.tableTools.min.js", function () {
            loadScript("js/plugin/datatables/dataTables.bootstrap.min.js", function () {
                loadScript("js/plugin/datatable-responsive/datatables.responsive.min.js", pagefunction)
            });
        });
    });

    $('#dt_basic').on("change", ":checkbox", function () {
        if ($(this).is("[name='check-all']"))
            $(":checkbox", "#dt_basic").prop("checked", $(this).prop("checked"));
        else {
            var checkbox = $("tbody:checkbox", "#dt_basic");
            $(":checkbox[name='check-all']", "#dt_basic").prop("checked", checkbox.length == checkbox.filter(":checked"));
        }
    });
    function formatAction(cellValue, options, rowObject) {
        var html = '<div class="btn-group btn-group-justified">';
        if (!rowObject.hasAccount)
            html += '<a class="btn btn-primary btn-xs" data-toggle="modal" data-target="#remoteModal" href="client/setAccount/' + rowObject.id + '">分配账号</a>';
        else
            html += '<a class="btn btn-primary btn-xs" data-toggle="modal" data-target="#remoteModal" href="client/resetPwd/' + rowObject.id + '">重置密码</a>';
        try {
            if (setEditBtn) html += setEditBtn(rowObject.id);
        } catch (e) {
        }
        html += '</div>';
        return html;
    }
    function formatStatus(cellValue, options, rowObject) {
        var html = "";
        if (rowObject.hasAccount) {
            html = "<span class='onoffswitch'>";
            html += '<input name="checkbox-toggle" id="' + rowObject.id + '" class="onoffswitch-checkbox" onclick="setStatus(&quot;' + rowObject.id + '&quot;)"';
            if (rowObject.user.enabled) html += "checked='checked' ";
            html += "type='checkbox' />";
            html += "<label class='onoffswitch-label' for='" + rowObject.id + "'><span class='onoffswitch-inner' data-swchon-text='启用' data-swchoff-text='停用'></span><span class='onoffswitch-switch'></span></label></span>";
        }
        return html;
    }
    function formatArea(cellValue, options, rowObject) {
        var contracts = rowObject.contracts;
        var area = "";
        for (i = 0; i < contracts.length; i++) {
            area += contracts[i].agentProvince + contracts[i].agentCity + contracts[i].agentDistrict + "<br/>";
        }
        return area;
    }
    function formatSign(cellValue, options, rowObject) {
        var contracts = rowObject.contracts;
        var area = "";
        for (i = 0; i < contracts.length; i++) {
            area += contracts[i].signPerson + "<br/>";
        }
        return area;
    }
    function formatPhone(cellValue, options, rowObject) {
        var contracts = rowObject.contracts;
        var area = "";
        for (i = 0; i < contracts.length; i++) {
            area += contracts[i].signPhone + "<br/>";
        }
        return area;
    }
    function formatProject(cellValue, options, rowObject) {
        var contracts = rowObject.contracts;
        var area = "";
        for (i = 0; i < contracts.length; i++) {
            area += contracts[i].project + "<br/>";
        }
        return area;
    }
    function formatLevel(cellValue, options, rowObject) {
        var contracts = rowObject.contracts;
        var area = "";
        for (i = 0; i < contracts.length; i++) {
            area += contracts[i].contractLevel + "<br/>";
        }
        return area;
    }
    function setStatus(id) {
        $.ajax({
            type: "POST",
            url: "/client/setStatus",
            data: {id: id}
        });
    }
</script>
<script type="text/javascript" shiro:hasPermission="/clientres/edit">
    function setEditBtn(id) {
        return '<a href="#/client/edit/' + id + '" class="btn-warning btn btn-xs"><i class="fa fa-edit"></i> <span class="hidden-mobile">客户资料</span></a>';
    }
</script>
</body>
</html>