<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title></title>
</head>
<body>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-edit"></i> 礼品申请</h4>
</div>

<div class="modal-body no-padding">
    <form id="form" class="smart-form">
        <fieldset>
            <section>
                <div class="table-responsive">
                    <table class="table" id="productTarget">
                        <thead>
                        <tr>
                            <th>礼品名称</th>
                            <th>规格</th>
                            <th>包装</th>
                            <th>领用数量</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item,i:${foruse.items}">
                            <td><label class='input'>
                                <input name='name' disabled='disabled' th:value="${item.goods.name}" /></label>
                            </td>
                            <td><label class='input'><input name='spec' th:value="${item.spec}" disabled='disabled' /></label></td>
                            <td><label class='select'><select th:name='${"items[" + i.index + "].packageId"}' disabled='disabled'>
                                <option value="" th:selected="${item.packageId==''}">无包装[单位:[[${item.goods.unit}]]]</option>
                                <option th:each="package: ${item.goods.packages}" th:value="${package.id}" th:selected="${item.packageId==package.id}">[[${package.packageSpec}]][单位:[[${package.packageUnit}]]]</option>
                            </select><i></i></label></td>
                            <td><label class='input'><input th:name='${"items[" + i.index + "].count"}' th:value="${item.count}" class='number' disabled='disabled' /></label></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </section>
        </fieldset>
        <fieldset>
            <section>
                <label class="textarea textarea-resizable">
                                        <textarea class="custom-scroll" id="purpose" name="purpose"
                                                  placeholder="用途" disabled='disabled'>[[${foruse.purpose}]]</textarea>
                </label>
            </section>
        </fieldset>
        <footer>
            <button type="button" class="btn btn-danger" data-dismiss="modal">
                关 闭
            </button>
        </footer>
    </form>
</div>
<script>
    pageSetUp();
</script>
</body>
</html>