<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title></title>
</head>
<body>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-edit"></i> 修改权限</h4>
</div>

<div class="modal-body no-padding">
    <form id="form" class="smart-form" novalidate="novalidate">
        <input type="hidden" id="id" name="id" th:value="${permission.id}"/>
        <input type="hidden" id="type" name="type" th:value="${permission.type}"/>
        <input type="hidden" id="parentId" name="parentId" th:value="${permission.parentId}"/>
        <input type="hidden" id="version" name="version" th:value="${permission.version}"/>
        <fieldset>
            <section>
                <label class="input">
                    <input type="text" name="name" id="name" placeholder="权限名称" th:value="${permission.name}"/>
                </label>
            </section>
            <section>
                <label class="input">
                    <input type="text" name="mask" id="mask" placeholder="权限标识" th:value="${permission.mask}"/>
                </label>
            </section>
            <section>
                <label class="input">
                    <input type="text" name="url" id="url" placeholder="权限方法" th:value="${permission.url}"/>
                </label>
            </section>
            <section>
                <label class="input">
                    <input type="text" name="css" id="css" placeholder="权限样式" th:value="${permission.css}"/>
                </label>
            </section>
        </fieldset>
        <footer>
            <button type="submit" class="btn btn-primary">
                保 存
            </button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">
                取 消
            </button>
        </footer>
    </form>
</div>

<script>
    pageSetUp();

    var pagefunction = function () {
        var $form = $("#form").validate({
            rules: {
                name: {required: true},
                mask: {required: true},
                url: {required: true}
            },
            messages: {
                name: {required: '请输入权限名称'},
                mask: {required: '请输入权限标识'},
                url: {required: '请输入权限方法'}
            },
            onsubmit: true,
            submitHandler: function () {
                $.ajax({
                    url: '/permission/edit',
                    type: 'post',
                    data: $('#form').serialize(),
                    success: function () {
                        $('#remoteModal').modal('hide');
                        $('#dt_basic').DataTable().ajax.reload();
                        jQuery('#jstree').jstree(true).settings.core.data.url="/permission/tree";
                        jQuery('#jstree').jstree(true).refresh(false, true);
                    },
                    error: function (e) {
                        $.bigBox({
                            title: "系统内部错误！",
                            content: "该错误已被记录，请联系管理员，并稍后重试！",
                            color: "#C46A69",
                            icon: "fa fa-warning shake animated",
                            timeout: 6000
                        });
                        e.preventDefault();
                    }
                });
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
    };

    loadScript("js/plugin/jquery-form/jquery-form.min.js", pagefunction);
</script>
</body>
</html>