<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title></title>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{css/plugin/summernote/summernote.css}"/>
</head>
<body>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-edit"></i> 修改商品信息</h4>
</div>

<div class="modal-body no-padding">
    <form id="form" class="smart-form" novalidate="novalidate">
        <fieldset>
            <div class="row">
                <section class="col col-4">
                    <label class="input">
                        <input type="text" name="name" placeholder="商品名称" th:value="${goods.name}"/>
                    </label>
                </section>
                <section class="col col-4">
                    <label class="input">
                        <input type="text" name="spec" placeholder="型号规格" th:value="${goods.spec}"/>
                    </label>
                </section>
                <section class="col col-4">
                    <label class="input"><input type="text" name="unit" placeholder="单位"
                                                th:value="${goods.unit}"/></label>
                </section>
            </div>
            <section>
                <a href="javascript:void(0);" class="btn btn-primary btn-sm" id="add">新增包装信息</a>
            </section>
            <section>
                <div class="table-responsive">
                    <table class="table" id="productTarget">
                        <thead>
                        <tr>
                            <th></th>
                            <th>包装规格</th>
                            <th>包装数量</th>
                            <th>包装单位</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="package, pStat:${goods.packages}">
                            <td><a class="btn btn-danger btn-sm" href="javascript:void(0);" th:onclick="'del(this,\''+${package.id}+'\')'"><i
                                    class="fa fa-minus-circle"></i></a></td>
                            <td><label class="input"><input th:name="'packages['+${pStat.index}+'].packageSpec'"
                                                            th:value="${package.packageSpec}" required="required"/></label></td>
                            <td><label class="input"><input th:name="'packages['+${pStat.index}+'].ammount'"
                                                            th:value="${package.ammount}" required="required" class="number"/></label></td>
                            <td><label class="input"><input th:name="'packages['+${pStat.index}+'].packageUnit'"
                                                            th:value="${package.packageUnit}" required="required"/></label></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </section>
            <section>
                <textarea id="brief" name="brief" class="summernote">[[${goods.brief}]]</textarea>
            </section>
        </fieldset>
        <footer>
            <button type="submit" class="btn btn-primary">
                保 存
            </button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">
                取 消
            </button>
        </footer>
    </form>
</div>
<script src="js/plugin/summernote/summernote.min.js"></script>
<script src="js/plugin/summernote/summernote-zh-CN.min.js"></script>
<script th:inline="javascript">

    var i = [[${#lists.size(goods.packages)}]];

    pageSetUp();

    var pagefunction = function () {

        $('.summernote').summernote({
            height: 400,
            focus: false,
            tabsize: 2,
            lang: 'zh-CN',
            dialogsInBody: true,
            dialogsFade: true,
        });

        var $form = $("#form").validate({
            rules: {
                name: {required: true},
                spec: {required: true}
            },
            messages: {
                name: {required: '请输入商品名称'},
                spec: {required: '请输入型号规格'}
            },
            onsubmit: true,
            submitHandler: function () {
                $.ajax({
                    url: '/goods/edit',
                    type: 'post',
                    data: $('#form').serialize(),
                    success: function () {
                        $('#remoteModal').modal('hide');
                        $('#dt_basic').DataTable().ajax.reload();
                    },
                    error: function (e) {
                        $.bigBox({
                            title: "系统内部错误！",
                            content: "该错误已被记录，请联系管理员，并稍后重试！",
                            color: "#C46A69",
                            icon: "fa fa-warning shake animated",
                            timeout: 6000
                        });
                        e.preventDefault();
                    }
                });
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
        if(!$("#form").valid()){
            $(".ammount").each(function () {
                $(this.rules("add",{number:true, messages:{number:"请输入数字"}}));
            });
        }
    };

    loadScript("js/plugin/jquery-form/jquery-form.min.js", pagefunction);
    $('#add').on('click', function () {
        $('#productTarget').append("<tr>" +
            '<td><a class="btn btn-danger btn-sm" href="javascript:void(0);" onclick="delRow(this);"><i class="fa fa-minus-circle"></i></a></td>' +
            '<td><label class="input"><input name="packages[' + i + '].packageSpec" required="required"/></label></td>' +
            '<td><label class="input"><input class="ammount" name="packages[' + i + '].ammount" required="required" class="number"/></label></td>' +
            '<td><label class="input"><input name="packages[' + i + '].packageUnit" required="required"/></label></td>' +
            "</tr>");
        i++;
    });
    function del(obj, id) {
        delRow(obj);
        $.ajax({
            url: '/goods/delPak',
            type: 'POST',
            data: {id: id}
        });
    }
</script>
</body>
</html>