<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title></title>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{css/plugin/summernote/summernote.css}"/>
</head>
<body>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-edit"></i> 修改商品信息</h4>
</div>

<div class="modal-body no-padding">
    <form id="form" class="smart-form" novalidate="novalidate">
        <fieldset>
            <div class="row">
                <section class="col col-4">
                    <label class="input">
                        <input type="text" name="name" placeholder="商品名称" th:value="${goods.name}"/>
                    </label>
                </section>
                <section class="col col-4">
                    <label class="input">
                        <input type="text" name="spec" placeholder="型号规格" th:value="${goods.spec}"/>
                    </label>
                </section>
                <section class="col col-4">
                    <label class="select"><select name="unit" id="unit"></select><i></i></label>
                </section>
            </div>
            <div class="row">


            </div>
            <section>
                <textarea id="brief" name="brief" class="summernote">[[${goods.brief}]]</textarea>
            </section>
        </fieldset>
        <footer>
            <button type="submit" class="btn btn-primary">
                保 存
            </button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">
                取 消
            </button>
        </footer>
    </form>
</div>
<script src="js/plugin/summernote/summernote.min.js"></script>
<script src="js/plugin/summernote/summernote-zh-CN.min.js"></script>
<script th:inline="javascript">
    pageSetUp();

    var pagefunction = function () {

        BindDictItem("unit", "UNIT_TYPE", "单位", [[${goods.unit}]]);

        $('.summernote').summernote({
            height: 400,
            focus: false,
            tabsize: 2,
            lang: 'zh-CN',
            dialogsInBody: true,
            dialogsFade: true,
        });

        var $form = $("#form").validate({
            rules: {
                name: {required: true},
                spec: {required: true}
            },
            messages: {
                name: {required: '请输入商品名称'},
                spec: {required: '请输入型号规格'}
            },
            onsubmit: true,
            submitHandler: function () {
                $.ajax({
                    url: '/goods/edit',
                    type: 'post',
                    data: $('#form').serialize(),
                    success: function () {
                        $('#remoteModal').modal('hide');
                        $('#dt_basic').DataTable().ajax.reload();
                    },
                    error: function (e) {
                        $.bigBox({
                            title: "系统内部错误！",
                            content: "该错误已被记录，请联系管理员，并稍后重试！",
                            color: "#C46A69",
                            icon: "fa fa-warning shake animated",
                            timeout: 6000
                        });
                        e.preventDefault();
                    }
                });
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
    };

    loadScript("js/plugin/jquery-form/jquery-form.min.js", pagefunction);
</script>
</body>
</html>