<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title></title>
</head>
<body>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-edit"></i> 新增用户</h4>
</div>

<div class="modal-body no-padding">
    <form id="form" class="smart-form" novalidate="novalidate">
        <fieldset>
            <section>
                <label class="input">
                    <i class="icon-prepend fa fa-envelope-o"></i>
                    <input type="email" name="email" id="email" placeholder="邮箱"/>
                </label>
            </section>
            <section>
                <label class="input">
                    <input type="password" name="password" id="password" placeholder="密码"/>
                </label>
            </section>
            <div class="row">
                <section class="col col-4">
                    <label class="input">
                        <i class="icon-prepend fa fa-user"></i>
                        <input type="text" name="firstName" id="firstName" placeholder="姓"/>
                    </label>
                </section>
                <section class="col col-8">
                    <label class="input">
                        <i class="icon-prepend fa fa-user"></i>
                        <input type="text" name="lastName" id="lastName" placeholder="名"/>
                    </label>
                </section>
            </div>
            <section>
                <label class="input">
                    <i class="icon-prepend fa fa-phone"></i>
                    <input type="text" name="mobile" id="mobile" placeholder="手机号码"/>
                </label>
            </section>
        </fieldset>
        <footer>
            <button type="submit" class="btn btn-primary">
                保 存
            </button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">
                取 消
            </button>
        </footer>
    </form>
</div>

<script>
    pageSetUp();

    var pagefunction = function () {
        var $form = $("#form").validate({
            rules: {
                password: {required: true},
                firstName: {required: true},
                lastName: {required: true},
                email: {required: true}
            },
            messages: {
                password: {required: '请输入密码'},
                firstName: {required: '请输入姓名'},
                lastName: {required: '请输入姓名'},
                email: {required: '请输入用户邮箱'}
            },
            onsubmit: true,
            submitHandler: function () {
                $.ajax({
                    url: '/user/create',
                    type: 'post',
                    data: $('#form').serialize(),
                    success: function (e) {
                        var val = $.parseJSON(e);
                        if (val.success) {
                            $('#remoteModal').modal('hide');
                            $('#dt_basic').DataTable().ajax.reload();
                        }
                        else {
                            $.bigBox({
                                title: "出错了！",
                                content: val.msg,
                                color: "#C46A69",
                                icon: "fa fa-warning shake animated",
                                timeout: 6000
                            });
                        }
                    },
                    error: function (e) {
                        $.bigBox({
                            title: "系统内部错误！",
                            content: "该错误已被记录，请联系管理员，并稍后重试！",
                            color: "#C46A69",
                            icon: "fa fa-warning shake animated",
                            timeout: 6000
                        });
                        e.preventDefault();
                    }
                });
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
    };

    loadScript("js/plugin/jquery-form/jquery-form.min.js", pagefunction);
</script>
</body>
</html>