<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title></title>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{css/plugin/summernote/summernote.css}"/>
</head>
<body>
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-edit fa-fw "></i>
            发售申请
        </h1>
    </div>
</div>

<section id="widget-grid">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false"
                 data-widget-deletebutton="false"
                 data-widget-fullscreenbutton="false" data-widget-togglebutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>发售申请</h2>
                </header>
                <div role="content">
                    <div class="widget-body no-padding">
                        <form id="form_1" class="smart-form" novalidate="novalidate" enctype="multipart/form-data">
                            <header><a href="/common/selectProduct" data-toggle="modal" data-target="#remoteModal"
                                       class="btn btn-primary btn-sm">选择物品</a></header>
                            <fieldset>
                                <section>
                                    <div class="table-responsive">
                                        <table class="table" id="productTarget">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th>物品名称</th>
                                                <th>规格</th>
                                                <th>包装</th>
                                                <th>数量</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>

                                    </div>
                                </section>
                            </fieldset>
                            <fieldset>
                                <div class="row">
                                    <section class="col col-6">
                                        <label class="select">
                                            <select name="project" id="project"></select><i></i>
                                        </label>
                                    </section>
                                    <section class="col col-6">
                                        <label class="select">
                                            <select name="type" id="type"></select><i></i>
                                        </label>
                                    </section>
                                </div>
                                <section>
                                    <label class="input">
                                        <input type="text" name="name" id="name" placeholder="名称"/><i></i>
                                    </label>
                                </section>
                                <section>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="input">
                                                <input id="price" class="hasDatepicker" name="price"
                                                       placeholder="单价"
                                                       type="text">
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="input">
                                                <input id="unit" class="hasDatepicker" name="unit"
                                                       placeholder="单位" type="text">
                                            </label>
                                        </section>
                                    </div>
                                </section>
                                <section>
                                    <input type="file" class="file-loading" id="attachment" name="attachment" multiple/>
                                </section>
                            </fieldset>
                            <fieldset>
                                <textarea id="content" name="content" class="summernote">
                                </textarea>
                            </fieldset>
                            <footer>
                                <button type="submit" class="btn btn-primary">
                                    保 存
                                </button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">
                                    取 消
                                </button>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<!-- Dynamic Modal -->
<div class="modal fade" id="remoteModal" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
        </div>
    </div>
</div>
<script src="js/plugin/summernote/summernote.min.js"></script>
<script src="js/plugin/summernote/summernote-zh-CN.min.js"></script>
<script>
    pageSetUp();

    var pagefunction = function () {

        BindDictItem("project", "PROJECT_TYPE", "项目类别");
        BindDictItem("type", "CONTRACT_TYPE", "商品类别");

        $('.summernote').summernote({
            height: 400,
            focus: false,
            tabsize: 2,
            lang: 'zh-CN',
            dialogsInBody: true,
            dialogsFade: true,
        });

        var $form1 = $("#form_1").validate({
            rules: {
                project: {required: true},
                title: {required: true},
                startDate: {required: true},
                endDate: {required: true},
                attachment: {required: true}
            },
            messages: {
                project: {required: '请选择代理项目'},
                title: {required: '请输入合同名称'},
                startDate: {required: '请输入合同有效期'},
                endDate: {required: '请输入合同有效期'},
                attachment: {required: '请上传合同附件'}
            },
            onsubmit: true,
            submitHandler: function () {
                var formData = new FormData($('#form_1')[0]);
                $.ajax({
                    url: '/sale/apply',
                    type: 'post',
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function () {
                        window.location = '#/sale/index';
                    },
                    error: function (e) {
                        $.bigBox({
                            title: "系统内部错误！",
                            content: "该错误已被记录，请联系管理员，并稍后重试！",
                            color: "#C46A69",
                            icon: "fa fa-warning shake animated",
                            timeout: 6000
                        });
                        e.preventDefault();
                    }
                });
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });

        $("#attachment").fileinput({
            language: 'zh',
            showCaption: false,
            showUpload: false
        });

    };

    loadScript("js/plugin/jquery-form/jquery-form.min.js", pagefunction);

</script>
</body>
</html>