<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title></title>
</head>
<body>
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-edit fa-fw "></i>
            发售申请
        </h1>
    </div>
</div>

<section id="widget-grid">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false"
                 data-widget-deletebutton="false"
                 data-widget-fullscreenbutton="false" data-widget-togglebutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>发售申请</h2>
                </header>
                <div role="content">
                    <div class="widget-body no-padding">
                        <form id="form_1" class="smart-form" novalidate="novalidate" enctype="multipart/form-data">
                            <fieldset>
                                <div class="row">
                                    <section class="col col-3">
                                        <label class="select">
                                            <select id="category" name="category">
                                            </select><i></i>
                                        </label>
                                    </section>
                                    <section class="col col-3">
                                        <label class="select">
                                            <select name="project" id="project"></select><i></i>
                                        </label>
                                    </section>
                                    <section class="col col-3">
                                        <label class="select">
                                            <select name="type" id="type"></select><i></i>
                                        </label>
                                    </section>
                                    <section class="col col-3">
                                        <label class="select">
                                            <select name="subtype" id="subtype"></select><i></i>
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-3">
                                        <label class="input">
                                            <input name="name" id="name" placeholder="名称"/><i></i>
                                        </label>
                                    </section>
                                </div>
                                <section>
                                    <label class="textarea textarea-resizable">
                                        <textarea placeholder="简介" id="memo" name="memo"
                                                  class="custom-scroll"></textarea>
                                    </label>
                                </section>
                            </fieldset>
                            <fieldset id="products" style="display: none;">
                                <section>
                                    <div class="table-responsive">
                                        <table class="table" id="productTarget">
                                            <thead>
                                            <tr>
                                                <th>物品名称</th>
                                                <th>单位</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <label class="select">
                                                        <select id="goodsId" name="goodsId">
                                                        </select><i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="select">
                                                        <select id="packageId" name="packageId"></select><i></i>
                                                    </label>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </section>
                            </fieldset>
                            <fieldset id="supports" style="display: none;">
                                <section class="col col-6">
                                    <label class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input id="startDate" class="hasDatepicker" name="startDate" placeholder="开始日期"
                                               type="text">
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input id="endDate" class="hasDatepicker" name="endDate" placeholder="结束日期"
                                               type="text">
                                    </label>
                                </section>
                            </fieldset>
                            <fieldset id="resources" style="display: none;">
                                <section>
                                    <input type="file" class="file-loading" id="attachment" name="attachment" multiple/>
                                </section>
                            </fieldset>
                            <footer>
                                <button type="submit" class="btn btn-primary">
                                    保 存
                                </button>
                                <a class="btn btn-danger" href="#/sale/index">
                                    取 消
                                </a>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<!-- Dynamic Modal -->
<div class="modal fade" id="remoteModal" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
        </div>
    </div>
</div>
<script>
    var item_count = 0;
    pageSetUp();

    var pagefunction = function () {

        BindDictItem("category", "GOODS_NATURE", "商品分类");
        $('#category').on('change', function () {
            var c = this.value;
            $('#project').empty();
            $('#type').empty();
            $('#subtype').empty();
            BindDictItem("project", c, "");
            if (c == "GOODS_NORMAL") {
                $('#products').show();
                $('#resources').hide();
                $('#supports').hide();
                $('#startDate').val('1970-1-1');
                $('#endDate').val('1970-1-1');
            }
            if (c == "GOODS_SUPPORT") {
                $('#products').hide();
                $('#resources').hide();
                $('#supports').show();
                $('#startDate').val('');
                $('#endDate').val('');
            }
            if (c == "GOODS_VIRTUAL") {
                $('#products').hide();
                $('#resources').show();
                $('#supports').hide();
                $('#startDate').val('1970-1-1');
                $('#endDate').val('1970-1-1');
            }

        });
        $('#project').on('change', function () {
            var c = this.value;

            $('#type').empty();
            $('#subtype').empty();

            BindDictItem("type", c, "");
            loadGoods();
        });
        $('#type').on('change', function () {
            var c = this.value;

            $('#subtype').empty();

            BindDictItem("subtype", c, "");
            loadGoods();
        });
        $('#subtype').on('change',function () {
            loadGoods();
        });
        $('#goodsId').on('change',function () {
           loadpackage();
        });

        var $form1 = $("#form_1").validate({
            rules: {
                project: {required: true},
                name: {required: true},
                category: {required: true}
            },
            messages: {
                project: {required: '请选择商品分类'},
                category: {required: '请选择商品分类'},
                name: {required: '请输入名称'}
            },
            onsubmit: true,
            submitHandler: function () {
                var formData = new FormData($('#form_1')[0]);
                $.ajax({
                    url: '/sale/apply',
                    type: 'post',
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function () {
                        window.location = '#/sale/index';
                    },
                    error: function (e) {
                        $.bigBox({
                            title: "系统内部错误！",
                            content: "该错误已被记录，请联系管理员，并稍后重试！",
                            color: "#C46A69",
                            icon: "fa fa-warning shake animated",
                            timeout: 6000
                        });
                        e.preventDefault();
                    }
                });
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });


        $('#startDate').datetimepicker({
            format: 'yyyy-mm-dd',
            minView: 'month',
            language: 'zh-CN',
            autoclose: true
        }).on("click", function () {
            $("#startDate").datetimepicker("setEndDate", $("#endDate").val())
        });

        $('#endDate').datetimepicker({
            format: 'yyyy-mm-dd',
            minView: 'month',
            language: 'zh-CN',
            autoclose: true
        }).on("click", function () {
            $("#endDate").datetimepicker("setStartDate", $("#startDate").val())
        });

        $("#attachment").fileinput({
            language: 'zh',
            showCaption: false,
            showUpload: false
        });

    };

    function loadGoods() {
        var project = $('#project').val();
        var type = $('#type').val();
        var subtype = $('#subtype').val();
        var control = $('#goodsId');
        $.getJSON('/sale/getGoods',{project:project, type: type, subtype:subtype}, function (data) {
            control.empty();
            control.append("<option value=''></option>");
            $.each(data, function (i, item) {
                control.append("<option value='" + item.id + "'>&nbsp;" + item.name + "</option>");
            });
        });
    }
    
    function loadpackage() {
        var goodsId = $('#goodsId').val();
        var control = $('#packageId');
        $.getJSON('/sale/getPackage',{goodsId:goodsId}, function (data) {
            control.empty();
            control.append("<option value=''></option>");
            $.each(data, function (i, item) {
                control.append("<option value='" + item.id + "'>&nbsp;" + item.packageSpec + "["+item.packageUnit+"]</option>");
            });
        });
    }

    loadScript("js/plugin/jquery-form/jquery-form.min.js", pagefunction);

</script>
</body>
</html>