<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title></title>
</head>
<body>
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-edit fa-fw "></i>
            发售申请
        </h1>
    </div>
</div>

<section id="widget-grid">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false"
                 data-widget-deletebutton="false"
                 data-widget-fullscreenbutton="false" data-widget-togglebutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>发售申请</h2>
                </header>
                <div role="content">
                    <div class="widget-body no-padding">
                        <form id="form_1" class="smart-form" novalidate="novalidate" enctype="multipart/form-data">
                            <fieldset>
                                <div class="row">
                                    <section class="col col-3">
                                        <label class="select">
                                            <select id="category" name="category" disabled="disabled">
                                            </select><i></i>
                                        </label>
                                    </section>
                                    <section class="col col-3">
                                        <label class="select">
                                            <select name="project" id="project" disabled="disabled"></select><i></i>
                                        </label>
                                    </section>
                                    <section class="col col-3">
                                        <label class="select">
                                            <select name="type" id="type" disabled="disabled"></select><i></i>
                                        </label>
                                    </section>
                                    <section class="col col-3">
                                        <label class="select">
                                            <select name="subtype" id="subtype" disabled="disabled"></select><i></i>
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-3">
                                        <label class="label">名称：</label>
                                        <label class="input">
                                            <input name="name" id="name" th:value="${sale.name}"/><i></i>
                                        </label>
                                    </section>
                                    <section class="col col-3" shiro:hasRole="ROLE_COO">
                                        <label class="label">单价：</label>
                                        <label class="input">
                                            <input name="price" id="price" th:value="${sale.price}"/><i></i>
                                        </label>
                                    </section>
                                    <section class="col col-3" shiro:hasRole="ROLE_COO">
                                        <label class="label">单位：</label>
                                        <label class="input">
                                            <input name="unit" id="unit" th:value="${sale.unit}"/><i></i>
                                        </label>
                                    </section>
                                </div>
                                <section>
                                    <label class="textarea textarea-resizable">
                                        <textarea placeholder="简介" id="memo" name="memo" class="custom-scroll"></textarea>
                                    </label>
                                </section>
                            </fieldset>
                            <fieldset id="products" th:if="${sale.category=='GOODS_NORMAL'}">
                                <section>
                                    <div class="table-responsive">
                                        <table class="table" id="productTarget">
                                            <thead>
                                            <tr>
                                                <th>物品名称</th>
                                                <th>规格</th>
                                                <th>包装</th>
                                                <th>数量</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="item,i:${sale.items}">
                                                <td><label class='input'>
                                                    <input th:name='${"items[" + i.index + "].goodsId"}' th:value="${item.goodsId}"  type='hidden'/>
                                                    <input name='name' disabled='disabled' th:value="${item.goods.name}" /></label>
                                                </td>
                                                <td><label class='input'><input name='spec' th:value="${item.spec}" disabled='disabled' /></label></td>
                                                <td><label class='select'><select th:name='${"items[" + i.index + "].packageId"}'>
                                                    <option value="" th:selected="${item.packageId==''}">无包装[单位:[[${item.goods.unit}]]]</option>
                                                    <option th:each="package: ${item.goods.packages}" th:value="${package.id}" th:selected="${item.packageId==package.id}">[[${package.packageSpec}]][单位:[[${package.packageUnit}]]]</option>
                                                </select><i></i></label></td>
                                                <td><label class='input'><input th:name='${"items[" + i.index + "].count"}' th:value="${item.count}" class='number' /></label></td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </section>
                            </fieldset>
                            <fieldset id="supports" th:if="${sale.category=='GOODS_SUPPORT'}">
                                <!--<section class="col col-6">
                                    <label class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input id="startDate" class="hasDatepicker" name="startDate" placeholder="开始日期"
                                               type="text" value="1970-1-1">
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input id="endDate" class="hasDatepicker" name="endDate" placeholder="结束日期" type="text" value="1970-1-1">
                                    </label>
                                </section>-->
                            </fieldset>
                            <fieldset id="resources" th:if="${sale.category=='GOODS_VIRTUAL'}">
                                <section th:if="${taskKey=='reApply'}">
                                    <input type="file" class="file-loading" id="attachment" name="attachment" multiple/>
                                </section>
                                <section>
                                    <table>
                                        <tr th:each="res:${sale.resources}"><td><a th:href="@{'common/downloadr/'+${res.id}}" target="_blank">[[${res.name+'.'+res.fileType}]]</a></td></tr>
                                    </table>
                                </section>
                            </fieldset>
                            <fieldset shiro:hasRole="ROLE_DEPARTMENT_BRANDS">
                                <section>
                                    <label class="label">重点图片：</label>
                                    <label class="input input-file">
                                    <input type="file" class="file-loading" id="picture" name="picture" multiple/>
                                    </label>
                                </section>
                                <section>
                                    <label class="label">介绍：</label>
                                </section>
                            </fieldset>
                            <footer>
                                <button type="submit" class="btn btn-primary">
                                    保 存
                                </button>
                                <a type="button" class="btn btn-danger" href="#/common/task/todo">
                                    取 消
                                </a>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<!-- Dynamic Modal -->
<div class="modal fade" id="remoteModal" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
        </div>
    </div>
</div>
<script>
    var item_count = 0;
    pageSetUp();

    var pagefunction = function () {

        BindDictItem("category", "GOODS_NATURE", "", "[[${sale.category}]]");
        BindDictItem("project", "[[${sale.category}]]", "", "[[${sale.project}]]");
        BindDictItem("type", "[[${sale.project}]]", "", "[[${sale.type}]]");
        BindDictItem("subtype", "[[${sale.type}]]", "", "[[${sale.subtype}]]");

        var $form1 = $("#form_1").validate({
            rules: {
                project: {required: true},
                name: {required: true},
                category: {required: true}
            },
            messages: {
                project: {required: '请选择商品分类'},
                category: {required: '请选择商品分类'},
                name: {required: '请输入名称'}
            },
            onsubmit: true,
            submitHandler: function () {
                var formData = new FormData($('#form_1')[0]);
                $.ajax({
                    url: '/sale/reApply',
                    type: 'post',
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function () {
                        completeTaskRedirect([[${taskId}]], [{key: 'reApply', value: true, type: 'B'}], "#/common/task/todo");
                    },
                    error: function (e) {
                        $.bigBox({
                            title: "系统内部错误！",
                            content: "该错误已被记录，请联系管理员，并稍后重试！",
                            color: "#C46A69",
                            icon: "fa fa-warning shake animated",
                            timeout: 6000
                        });
                        e.preventDefault();
                    }
                });
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });


        $('#startDate').datetimepicker({
            format: 'yyyy-mm-dd',
            minView: 'month',
            language: 'zh-CN',
            autoclose: true
        }).on("click", function () {
            $("#startDate").datetimepicker("setEndDate", $("#endDate").val())
        });

        $('#endDate').datetimepicker({
            format: 'yyyy-mm-dd',
            minView: 'month',
            language: 'zh-CN',
            autoclose: true
        }).on("click", function () {
            $("#endDate").datetimepicker("setStartDate", $("#startDate").val())
        });

        $("#attachment").fileinput({
            language: 'zh',
            showCaption: false,
            showUpload: false
        });

        $("#picture").fileinput({
            language: 'zh',
            showCaption: false,
            showUpload: false
        });

    };

    loadScript("js/plugin/jquery-form/jquery-form.min.js", pagefunction);

</script>
</body>
</html>