<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title>用户登录</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <script src="js/jquery.1.11.1.min.js"></script>
    <!--[if IE]>
    <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>

<div id="nav">
    <ul>
        <li class="active">库存管理</li>
        <li>售后服务</li>
        <li>客户管理</li>
        <li>会员登录</li>
        <li>订单管理</li>
        <li>财务管理</li>
        <li>资料下载</li>
    </ul>
</div>

<div class="head">
    <div class="wrap">
        <a href="#" class="pull-left logo"><img src="img/logo.png"></a>
        <a id="navToggle" class=" visible-xs-inline-block"><img src="img/nav.png"></a>
        <a class="pull-right back" href="http://www.xjdpx.com">返回官网</a>
    </div>
</div>

<div class="loginBody">
    <div class="wrap">
        <div class="leftLinks hidden-xs">
            <div id="name">
                <h1>小桔灯ERP平台 <span class="edition">V1.0</span></h1>
                <h2>专注创新语文教育</h2>
            </div>
            <div id="bg">
                <img src="img/leftLinkBg.png">
            </div>
            <div id="star">
                <span class="one"><img src="img/star.png"></span>
                <span class="two"><img src="img/star.png"></span>
            </div>
            <div id="desk">
                <img src="img/desk.png">
            </div>
            <div id="pc">
                <img src="img/pc.png">
            </div>
            <div id="books">
                <img src="img/books.png">
            </div>
            <div id="btnLins">
                <div id="one" class="dotWrap">
                    <div class="dot"><img src="img/icon1.png"></div>
                    <div class="pulse"></div>
                    <p>库存管理</p>
                </div>
                <div id="two" class="dotWrap">
                    <div class="dot"><img src="img/icon2.png"></div>
                    <div class="pulse"></div>
                    <p>售后服务</p>
                </div>
                <div id="three" class="dotWrap">
                    <div class="dot"><img src="img/icon3.png"></div>
                    <div class="pulse"></div>
                    <p>客户管理</p>
                </div>
                <div id="four" class="dotWrap">
                    <div class="dot"><img src="img/icon4.png"></div>
                    <div class="pulse"></div>
                    <p>会员登录</p>
                </div>
                <div id="five" class="dotWrap">
                    <div class="dot"><img src="img/icon5.png"></div>
                    <div class="pulse"></div>
                    <p>订单管理</p>
                </div>
                <div id="six" class="dotWrap">
                    <div class="dot"><img src="img/icon6.png"></div>
                    <div class="pulse"></div>
                    <p>财务管理</p>
                </div>
                <div id="seven" class="dotWrap">
                    <div class="dot"><img src="img/icon7.png"></div>
                    <div class="pulse"></div>
                    <p>资料下载</p>
                </div>
            </div>
        </div>

        <div class="rightLogin">
            <div class="loginToggle">

                <div class="box hide">
                    <h5 class="tit">库存管理</h5>
                    <form th:action="@{/login.html}" method="post">
                        <div class="row" th:if="${param.error}">
                            <article class="col-sm-12">
                                <div class="alert alert-danger fade in">
                                    <button class="close" data-dismiss="alert">
                                        ×
                                    </button>
                                    <i class="fa-fw fa fa-times"></i>
                                    <strong>错误!</strong> 验证失败，请重新登录！
                                </div>
                            </article>
                        </div>
                        <div class="loginLine border">
                            <span class="icon"><img src="img/userIcon.png"></span>
                            <input name="username" type="text" class="inp" placeholder="账号"/>
                        </div>
                        <div class="loginLine border">
                            <span class="icon"><img src="img/pswIcon.png"></span>
                            <input name="password" type="password" class="inp" placeholder="密码"/>
                        </div>
                        <div class="loginLine">
                            <input type="submit" class="sub" value="登 录">
                        </div>
                        <div class="loginLine check">
                            <input type="checkbox">Remember me?
                        </div>
                    </form>
                </div>
                <div class="box hide">
                    <h5 class="tit">售后服务</h5>
                    <form th:action="@{/login.html}" method="post">
                        <div class="row" th:if="${param.error}">
                            <article class="col-sm-12">
                                <div class="alert alert-danger fade in">
                                    <button class="close" data-dismiss="alert">
                                        ×
                                    </button>
                                    <i class="fa-fw fa fa-times"></i>
                                    <strong>错误!</strong> 验证失败，请重新登录！
                                </div>
                            </article>
                        </div>
                        <div class="loginLine border">
                            <span class="icon"><img src="img/userIcon.png"></span>
                            <input name="username" type="text" class="inp" placeholder="账号"/>
                        </div>
                        <div class="loginLine border">
                            <span class="icon"><img src="img/pswIcon.png"></span>
                            <input name="password" type="password" class="inp" placeholder="密码"/>
                        </div>
                        <div class="loginLine">
                            <input type="submit" class="sub" value="登 录">
                        </div>
                        <div class="loginLine check">
                            <input type="checkbox">Remember me?
                        </div>
                    </form>
                </div>
                <div class="box hide">
                    <h5 class="tit">客户管理</h5>
                    <form th:action="@{/login.html}" method="post">
                        <div class="row" th:if="${param.error}">
                            <article class="col-sm-12">
                                <div class="alert alert-danger fade in">
                                    <button class="close" data-dismiss="alert">
                                        ×
                                    </button>
                                    <i class="fa-fw fa fa-times"></i>
                                    <strong>错误!</strong> 验证失败，请重新登录！
                                </div>
                            </article>
                        </div>
                        <div class="loginLine border">
                            <span class="icon"><img src="img/userIcon.png"></span>
                            <input name="username" type="text" class="inp" placeholder="账号"/>
                        </div>
                        <div class="loginLine border">
                            <span class="icon"><img src="img/pswIcon.png"></span>
                            <input name="password" type="password" class="inp" placeholder="密码"/>
                        </div>
                        <div class="loginLine">
                            <input type="submit" class="sub" value="登 录">
                        </div>
                        <div class="loginLine check">
                            <input type="checkbox">Remember me?
                        </div>
                    </form>
                </div>
                <div class="box">
                    <h5 class="tit">会员登录 / Member login</h5>
                    <form th:action="@{/login.html}" method="post">
                        <div class="row" th:if="${param.error}">
                            <article class="col-sm-12">
                                <div class="alert alert-danger fade in">
                                    <button class="close" data-dismiss="alert">
                                        ×
                                    </button>
                                    <i class="fa-fw fa fa-times"></i>
                                    <strong>错误!</strong> 验证失败，请重新登录！
                                </div>
                            </article>
                        </div>
                        <div class="loginLine border">
                            <span class="icon"><img src="img/userIcon.png"></span>
                            <input name="username" type="text" class="inp" placeholder="账号"/>
                        </div>
                        <div class="loginLine border">
                            <span class="icon"><img src="img/pswIcon.png"></span>
                            <input name="password" type="password" class="inp" placeholder="密码"/>
                        </div>
                        <div class="loginLine">
                            <input type="submit" class="sub" value="登 录">
                        </div>
                        <div class="loginLine check">
                            <input type="checkbox">Remember me?
                        </div>
                    </form>
                </div>
                <div class="box hide">
                    <h5 class="tit">订单管理</h5>
                    <form th:action="@{/login.html}" method="post">
                        <div class="row" th:if="${param.error}">
                            <article class="col-sm-12">
                                <div class="alert alert-danger fade in">
                                    <button class="close" data-dismiss="alert">
                                        ×
                                    </button>
                                    <i class="fa-fw fa fa-times"></i>
                                    <strong>错误!</strong> 验证失败，请重新登录！
                                </div>
                            </article>
                        </div>
                        <div class="loginLine border">
                            <span class="icon"><img src="img/userIcon.png"></span>
                            <input name="username" type="text" class="inp" placeholder="账号"/>
                        </div>
                        <div class="loginLine border">
                            <span class="icon"><img src="img/pswIcon.png"></span>
                            <input name="password" type="password" class="inp" placeholder="密码"/>
                        </div>
                        <div class="loginLine">
                            <input type="submit" class="sub" value="登 录">
                        </div>
                        <div class="loginLine check">
                            <input type="checkbox">Remember me?
                        </div>
                    </form>
                </div>
                <div class="box hide">
                    <h5 class="tit">财务管理</h5>
                    <form th:action="@{/login.html}" method="post">
                        <div class="row" th:if="${param.error}">
                            <article class="col-sm-12">
                                <div class="alert alert-danger fade in">
                                    <button class="close" data-dismiss="alert">
                                        ×
                                    </button>
                                    <i class="fa-fw fa fa-times"></i>
                                    <strong>错误!</strong> 验证失败，请重新登录！
                                </div>
                            </article>
                        </div>
                        <div class="loginLine border">
                            <span class="icon"><img src="img/userIcon.png"></span>
                            <input name="username" type="text" class="inp" placeholder="账号"/>
                        </div>
                        <div class="loginLine border">
                            <span class="icon"><img src="img/pswIcon.png"></span>
                            <input name="password" type="password" class="inp" placeholder="密码"/>
                        </div>
                        <div class="loginLine">
                            <input type="submit" class="sub" value="登 录">
                        </div>
                        <div class="loginLine check">
                            <input type="checkbox">Remember me?
                        </div>
                    </form>
                </div>
                <div class="box hide">
                    <h5 class="tit">资料下载</h5>
                    <form th:action="@{/login.html}" method="post">
                        <div class="row" th:if="${param.error}">
                            <article class="col-sm-12">
                                <div class="alert alert-danger fade in">
                                    <button class="close" data-dismiss="alert">
                                        ×
                                    </button>
                                    <i class="fa-fw fa fa-times"></i>
                                    <strong>错误!</strong> 验证失败，请重新登录！
                                </div>
                            </article>
                        </div>
                        <div class="loginLine border">
                            <span class="icon"><img src="img/userIcon.png"></span>
                            <input name="username" type="text" class="inp" placeholder="账号"/>
                        </div>
                        <div class="loginLine border">
                            <span class="icon"><img src="img/pswIcon.png"></span>
                            <input name="password" type="password" class="inp" placeholder="密码"/>
                        </div>
                        <div class="loginLine">
                            <input type="submit" class="sub" value="登 录">
                        </div>
                        <div class="loginLine check">
                            <input type="checkbox">Remember me?
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



</div>

<div class="copyright">小桔灯 © 2016 全国客服热线：400-645-0003 周末、节假日客服电话：13349847878 </div>


<script src="js/move.js"></script>
<script>


    if(window.screen.width>768){
        move('.loginBody #bg')
            .y(-287)
            .duration(1000)
            .end();

        move('#star .one')
            .delay(1000)
            .set('opacity',1)
            .end();
        move('#star .two')
            .delay(1000)
            .set('opacity',1)
            .end();

        move('#desk')
            .delay(1000)
            .y(50)
            .set('opacity',1)
            .end();

        move('#pc')
            .delay(1300)
            .y(25)
            .set('opacity',1)
            .end();

        move('#books')
            .delay(1500)
            .y(6)
            .set('opacity',1)
            .end();

        move('#btnLins #one')
            .delay(2000)
            .set('opacity',1)
            .x(20)
            .y(20)
            .end();

        move('#btnLins #two')
            .delay(2000)
            .set('opacity',1)
            .x(20)
            .y(0)
            .end();

        move('#btnLins #three')
            .delay(2000)
            .set('opacity',1)
            .x(0)
            .y(20)
            .end();

        move('#btnLins #four')
            .delay(2000)
            .set('opacity',1)
            .x(-20)
            .y(20)
            .end();

        move('#btnLins #five')
            .delay(2000)
            .set('opacity',1)
            .x(-20)
            .y(0)
            .end();

        move('#btnLins #six')
            .delay(2000)
            .set('opacity',1)
            .x(-20)
            .y(-20)
            .end();

        move('#btnLins #seven')
            .delay(2000)
            .set('opacity',1)
            .x(-20)
            .y(-20)
            .end();

        move('#name')
            .delay(2500)
            .set('opacity',1)
            .x(-50)
            .end();

        move('.loginBody .rightLogin')
            .delay(2800)
            .set('opacity',1)
            .y(70)
            .end();
    }else{
        move('.loginBody .rightLogin')
            .set('opacity',1)
            .y(70)
            .end();
    }

    (function($){
        $().ready(function(){
            $('#btnLins').on('click','.dotWrap',function(){
                var _index=$(this).index();
                $('.rightLogin .box').addClass('hide');
                $('.rightLogin .box').eq(_index).removeClass('hide');
            })

            var navBtn=true;
            $('#navToggle').on('click',function(){
                if(navBtn){
                    $('#nav').slideDown('fast');
                    navBtn=false;
                }else{
                    $('#nav').slideUp('fast');
                    navBtn=true;
                }
            })

            $('#nav').on('click','li',function(){
                var _index=$(this).index();
                $('.rightLogin .box').addClass('hide');
                $('.rightLogin .box').eq(_index).removeClass('hide');


                $('#nav li').removeClass('active');
                $(this).addClass('active');

                if(navBtn){
                    $('#nav').slideDown('fast');
                    navBtn=false;
                }else{
                    $('#nav').slideUp('fast');
                    navBtn=true;
                }
            })
        })
    })(jQuery);

</script>
</body>
</html>