<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title></title>
</head>
<body>

<!-- Bread crumb is created dynamically -->
<!-- row -->
<div class="row">

    <!-- col -->
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <!-- PAGE HEADER -->
            <i class="fa-fw fa fa-table"></i>
            采购项目
        </h1>
    </div>
    <!-- end col -->

</div>
<!-- end row -->

<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false"
                 data-widget-deletebutton="false"
                 data-widget-fullscreenbutton="false" data-widget-togglebutton="false">
                <header>
                    <span class="widget-icon">
                        <i class="fa fa-table"></i>
                    </span>
                    <h2><strong> 采购项目</strong></h2>
                </header>
                <div>
                    <div class="widget-body no-padding" id="grid-content">
                        <table id="dt_basic" class="table table-striped table-bordered table-hover table-checkable"
                               width="100%">
                            <thead>
                            <th></th>
                            <th>采购单号</th>
                            <th>备注</th>
                            <th>执行人</th>
                            <th>开始时间</th>
                            <th>批准时间</th>
                            <th></th>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </article>
        <!-- WIDGET END -->

    </div>

    <!-- end row -->

</section>
<!-- end widget grid -->
<!-- Dynamic Modal -->
<div class="modal fade" id="remoteModal" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
        </div>
    </div>
</div>
<!-- /.modal -->

<script type="text/javascript">

    pageSetUp();

    var pagefunction = function () {

        var responsiveHelper_dt_basic = undefined;
        var breakpointDefinition = {tablet: 1024, phone: 480};

        function format(d) {
            var html='';
            $.ajax({
                url:'/purchasingorder/getItems',
                type:'POST',
                async: false,
                data:{id: d.id},
                success:function (data) {
                    var items = eval(data);
                    html = '<table cellpadding="5" cellspacing="0" border="0" class="table table-hover table-condensed">';
                    html += "<thead><th>商品名称</th><th>规格</th><th>采购数量</th><th>单位</th><th>采购单价</th><th>供应商</th><th>单品数量</th></thead>";
                    for (i = 0; i < items.length; i++) {
                        html += "<tr>";
                        html += "<td>" + items[i].goods.name + "</td>";
                        html += "<td>" + items[i].spec + "</td>";
                        html += "<td>" + items[i].count + "</td>";
                        html += "<td>" + items[i].unit + "</td>";
                        html += "<td>" + items[i].price + "</td>";
                        html += "<td>" + items[i].supplierName + "</td>";
                        html += "<td>" + items[i].ammount + "</td>";
                        html += "</tr>";
                    }
                    html += '</table>';
                }
            });
            return html;
        }

        var dt = $('#dt_basic').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                url: "/purchasingorder/index",
                "type": "POST",
                "contentType": "application/json; charset=utf-8",
                "data": function (d) {
                    return JSON.stringify(d);
                }
            },
            "columns": [
                {
                    "class": 'details-control',
                    "orderable": false,
                    "data": null,
                    "defaultContent": ''
                },
                {"data": "code"},
                {"data": "purpose"},
                {"data": "applyer"},
                {"data": "dateCeated", render: CONSTANT.DATA_TABLES.RENDER.DATETIME},
                {"data": "finishedDate", render: CONSTANT.DATA_TABLES.RENDER.DATETIME},
                {"data": "taskName", "sClass": "text-center", render: formatStatus}
            ],
            "autoWidth": true,
            "searching": false,
            "language": CONSTANT.DATA_TABLES.DEFAULT_OPTION.LANGUAGE,
            "preDrawCallback": function () {
                if (!responsiveHelper_dt_basic) {
                    responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                }
            },
            "rowCallback": function (nRow) {
                responsiveHelper_dt_basic.createExpandIcon(nRow);
            },
            "drawCallback": function (oSettings) {
                responsiveHelper_dt_basic.respond();
            },
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'l><'col-sm-6 col-xs-12 hidden-xs'>r>t<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>"
        });

        // Add event listener for opening and closing details
        $('#dt_basic tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = dt.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        });

    }

    loadScript("js/plugin/datatables/jquery.dataTables.min.js", function () {
        loadScript("js/plugin/datatables/dataTables.colVis.min.js", function () {
            loadScript("js/plugin/datatables/dataTables.tableTools.min.js", function () {
                loadScript("js/plugin/datatables/dataTables.bootstrap.min.js", function () {
                    loadScript("js/plugin/datatable-responsive/datatables.responsive.min.js", pagefunction)
                });
            });
        });
    });

    function formatStatus(cellValue, options, rowObject) {
        var html = "";
        if (rowObject.processInstanceId == null) {
            html = "<a href='/purchasingorder/assign/" + rowObject.id + "' class='btn btn-primary btn-sm' data-toggle='modal' data-target='#remoteModal'>派单</a>";
        }
        else {
            var css = rowObject.taskName == '已完成' ? 'label-success' : 'label-warning';
            html = '<lable class="label ' + css + '">' + rowObject.taskName + '</lable>';
        }
        return html;
    }
</script>
</body>
</html>