<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title></title>
</head>
<body>
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-edit fa-fw "></i>
            合同审批
        </h1>
    </div>
</div>

<div class="modal-body no-padding">
    <form id="form_1" class="smart-form" novalidate="novalidate" enctype="multipart/form-data">
        <fieldset>
            <section>
                <div class="table-responsive">
                    <table class="table" id="productTarget">
                        <thead>
                        <tr>
                            <th>赠品名称</th>
                            <th>型号</th>
                            <th>单位</th>
                            <th>数量</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item,i:${contract.items}">
                            <td><label class='input'>
                                <input name='name' disabled='disabled'
                                       th:value="${item.goods.name}"/></label>
                            </td>
                            <td><label class='input'>
                                <input name='name' disabled='disabled'
                                       th:value="${item.goods.model}"/></label>
                            </td>
                            <td><label class='select'><select
                                    th:name='${"items[" + i.index + "].packageId"}'
                                    disabled='disabled'>
                                <option value="" th:selected="${item.packageId==''}">
                                    无包装[单位:[[${item.goods.unit}]]]
                                </option>
                                <option th:each="package: ${item.goods.packages}"
                                        th:value="${package.id}"
                                        th:selected="${item.packageId==package.id}">
                                    [[${package.packageSpec}]][单位:[[${package.packageUnit}]]]
                                </option>
                            </select><i></i></label></td>
                            <td><label class='input'><input
                                    th:name='${"items[" + i.index + "].count"}'
                                    th:value="${item.count}" class='number'
                                    disabled='disabled'/></label></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </fieldset>
        <fieldset>
            <div class="row">
                <section class="col col-6">
                    <label class="label">签约项目：</label>
                    <label class="select">
                        <select name="project" id="project" th:value="${contract.project}" disabled="disabled"></select><i></i>
                    </label>
                </section>
                <section class="col col-6">
                    <label class="label">合同名称：</label>
                    <label class="input">
                        <input type="text" name="title" id="title" th:value="${contract.title}" disabled="disabled" />
                    </label>
                </section>
            </div>
            <div class="row">
                <section class="col col-6">
                    <label class="label">签约类型：</label>
                    <label class="select">
                        <select name="agentType" id="agentType" disabled="disabled"></select><i></i>
                    </label>
                </section>
                <section class="col col-6">
                    <label class="label">代理级别：</label>
                    <label class="select">
                        <select name="agentLevel" id="agentLevel" disabled="disabled"></select><i></i>
                    </label>
                </section>
            </div>
            <div class="row">
                <section class="col col-3">
                    <label class="label">合同签署人：</label>
                    <label class="input"><input id="signPerson" name="signPerson"
                                                type="text" th:value="${contract.signPerson}" disabled="disabled"/></label>
                </section>
                <section class="col col-3">
                    <label class="label">联系电话：</label>
                    <label class="input"><input id="signPhone" name="signPhone"
                                                type="text" th:value="${contract.signPhone}" disabled="disabled"/></label>
                </section>
                <section class="col col-3">
                    <label class="label">身份证号：</label>
                    <label class="input"><input id="signId" name="signId"
                                                type="text" th:value="${contract.signId}" disabled="disabled" /></label>
                </section>
                <section class="col col-3">
                    <label class="label">QQ邮箱：</label>
                    <label class="input"><input id="signEmail" name="signEmail"
                                                type="text" th:value="${contract.signEmail}" disabled="disabled" /></label>
                </section>
            </div>
            <div class="row" id="dist1">
                <section class="col col-2">
                    <label class="label">通讯地址（省）：</label>
                    <label class="select"><select name="signProvince" id="agentProvince" disabled="disabled">
                    </select><i></i></label>
                </section>
                <section class="col col-2">
                    <label class="label">通讯地址（市）：</label>
                    <label class="select"><select name="signCity" disabled="disabled">
                    </select><i></i></label>
                </section>
                <section class="col col-2">
                    <label class="label">通讯地址（区）：</label>
                    <label class="select"><select name="signDistrict" disabled="disabled">
                    </select><i></i></label>
                </section>
                <section class="col col-6">
                    <label class="label">通讯地址（街道门牌号）：</label>
                    <label class="input">
                        <input type="text" name="signAddress" id="signAddress" th:value="${contract.signAddress}"/>
                    </label>
                </section>
            </div>
            <div class="row" id="dist2">
                <section class="col col-4">
                    <label class="label">代理区域（省）：</label>
                    <label class="select"><select name="agentProvince" disabled="disabled">
                    </select><i></i></label>
                </section>
                <section class="col col-4">
                    <label class="label">代理区域（市）：</label>
                    <label class="select"><select name="agentCity" disabled="disabled">
                    </select><i></i></label>
                </section>
                <section class="col col-4">
                    <label class="label">代理区域（区）：</label>
                    <label class="select"><select name="agentDistrict" disabled="disabled">
                    </select><i></i></label>
                </section>
            </div>
            <section>
                <div class="row">
                    <section class="col col-4">
                        <label class="label">合同起始日期：</label>
                        <label class="input">
                            <i class="icon-append fa fa-calendar"></i>
                            <input id="startDate" class="hasDatepicker" name="startDate" type="text" th:value="${contract.startDate}" disabled="disabled">
                        </label>
                    </section>
                    <section class="col col-4">
                        <label class="label">合同终止日期：</label>
                        <label class="input">
                            <i class="icon-append fa fa-calendar"></i>
                            <input id="endDate" class="hasDatepicker" name="endDate" type="text" th:value="${contract.endDate}" disabled="disabled">
                        </label>
                    </section>
                    <section class="col col-4">
                        <label class="label">合同时长(年)：</label>
                        <label class="input">
                            <input type="text" name="duration" id="duration" class="number" th:value="${contract.duration}" disabled="disabled" />
                        </label>
                    </section>
                </div>
            </section>
            <section>
                <div class="row">
                    <section class="col col-6">
                        <label class="label">品牌使用费：</label>
                        <label class="input">
                            <input type="text" name="fee" id="fee" class="number" th:value="${contract.fee}" disabled="disabled" />
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">预存教材款：</label>
                        <label class="input">
                            <input type="text" name="prestore" id="prestore" class="number" th:value="${contract.prestore}" disabled="disabled" />
                        </label>
                    </section>
                </div>
            </section>
            <section th:if="${taskKey=='confirm'}">
                <div class="row">
                    <section class="col col-6">
                        <label class="label">收款日期：</label>
                        <label class="input">
                            <i class="icon-append fa fa-calendar"></i>
                            <input type="text" name="recieveMoneyDate" class="hasDatepicker" id="recieveMoneyDate" />
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">收款银行：</label>
                        <label class="input">
                            <input type="text" name="recieveMoneyBank" id="recieveMoneyBank" />
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">收款金额：</label>
                        <label class="input">
                            <input type="text" name="recieveMoney" id="recieveMoney" class="number" />
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">合同编号：</label>
                        <label class="input">
                            <input type="text" name="contractCode" id="contractCode" />
                        </label>
                    </section>
                </div>
            </section>
            <section>
                <label class="label">合同：</label>
                <table>
                    <tr th:each="attachment: ${contract.attachments}">
                        <td><a th:href="@{'/common/download/'+${attachment.id}}" target="_blank">[[${attachment.name +'.'+attachment.fileType}]]</a>
                        </td>
                    </tr>
                </table>

            </section>
            <section>
                <label class="textarea textarea-resizable">
                                                    <textarea class="custom-scroll"
                                                              placeholder="备注"
                                                              name="memo"
                                                              disabled="disabled">[[${contract.memo}]]</textarea>
                </label>
            </section>
        </fieldset>
        <fieldset th:if="${memo!=null and memo!=''}">
            <section>
                <label class="label">部门经理意见：</label>
                <label class="textarea textarea-resizable">
                    <textarea class="custom-scroll" disabled="disabled">[[${memo}]]</textarea>
                </label>
            </section>
        </fieldset>
        <input type="hidden" id="taskId" name="taskId" th:value="${taskId}">
        <input type="hidden" id="taskKey" name="taskKey" th:value="${taskKey}">
        <fieldset>
            <section>
                <label class="label">办理意见：</label>
                <label class="textarea textarea-resizable">
                    <textarea class="custom-scroll" id="memo" name="memo"></textarea>
                </label>
            </section>
        </fieldset>
        <footer>
            <button type="button" class="btn btn-primary" id="pass" th:if="${taskKey!='confirm'}">
                同 意
            </button>
            <button type="button" class="btn btn-primary" id="pay" th:if="${taskKey=='confirm'}">
                已支付
            </button>
            <button type="button" class="btn btn-danger" id="deny" th:if="${taskKey!='confirm'}">
                驳 回
            </button>
            <a type="button" class="btn btn-danger" href="#/common/task/todo">
                取 消
            </a>
        </footer>
    </form>
</div>
<script th:src="@{js/distpicker.js}"></script>
<script th:inline="javascript">
    pageSetUp();

    var taskKey = $('#taskKey').val();

    $("#dist1").distpicker({
        province: [[${contract.signProvince}]],
        city: [[${contract.signCity}]],
        district: [[${contract.signDistrict}]]
    });
    $("#dist2").distpicker({
        province: [[${contract.agentProvince}]],
        city: [[${contract.agentCity}]],
        district: [[${contract.agentDistrict}]]
    });

    BindDictItem("project", "PROJECT_TYPE", "代理项目", [[${contract.project}]]);
    BindDictItem("agentType", "CONTRACT_TYPE", "签约类型", [[${contract.agentType}]]);
    BindDictItem("agentLevel", "CLIENT_LEVEL_TYPE", "代理级别", [[${contract.agentLevel}]]);

    $('#recieveMoneyDate').datetimepicker({
        format: 'yyyy-mm-dd',
        minView: 'month',
        language: 'zh-CN',
        autoclose: true
    });

    var pagefunction = function () {

    };

    $('#pay').on('click', function () {
        $.ajax({
            url: '/contract/pay',
            type:'POST',
            data:{id: [[${contract.id}]], recieveMoneyDate: $('#recieveMoneyDate').val(), recieveMoneyBank: $('#recieveMoneyBank').val(), recieveMoney: $('#recieveMoney').val(), contractCode: $('contractCode').val()},
            success: function () {
                var memo = ($('#memo').val() != "") ? $('#memo').val() : '同意';
                completeTask([[${taskId}]], [{key: taskKey + 'Pass', value: true, type: 'B'}, {
                    key: taskKey + 'Memo',
                    value: memo,
                    type: 'S'
                }]);
            }
        });
    });

    $('#pass').on('click', function () {
        var memo = ($('#memo').val() != "") ? $('#memo').val() : '同意';
        completeTask([[${taskId}]], [{key: taskKey + 'Pass', value: true, type: 'B'}, {
            key: taskKey + 'Memo',
            value: memo,
            type: 'S'
        }]);
    });

    $('#deny').on('click', function () {
        var memo = ($('#memo').val() != "") ? $('#memo').val() : '不同意';
        completeTask([[${taskId}]], [{key: taskKey + 'Pass', value: false, type: 'B'}, {
            key: taskKey + 'Memo',
            value: memo,
            type: 'S'
        }]);
    });

</script>
</body>
</html>