<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title></title>
</head>
<body>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-edit"></i> 加盟合同</h4>
</div>

<div class="modal-body no-padding">
    <form id="form_1" class="smart-form" novalidate="novalidate" enctype="multipart/form-data">
        <fieldset>
            <section>
                <div class="table-responsive">
                    <table class="table" id="productTarget">
                        <thead>
                        <tr>
                            <th>物品名称</th>
                            <th>型号</th>
                            <th>包装</th>
                            <th>采购数量(以包装单位为准)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item,i:${contract.items}">
                            <td><label class='input'>
                                <input th:name='${"items[" + i.index + "].goodsId"}' th:value="${item.goodsId}"  type='hidden'/>
                                <input name='name' disabled='disabled' th:value="${item.goods.name}" /></label>
                            </td>
                            <td><label class='input'><input name='${"items[" + i.index + "].spec"}' th:value="${item.spec}" disabled='disabled' /></label></td>
                            <td><label class='select'><select th:name='${"items[" + i.index + "].packageId"}'>
                                <option value="" th:selected="${item.packageId==''}">无包装[单位:[[${item.goods.unit}]]]</option>
                                <option th:each="package: ${item.goods.packages}" th:value="${package.id}" th:selected="${item.packageId==package.id}">[[${package.packageSpec}]][单位:[[${package.packageUnit}]]]</option>
                            </select><i></i></label></td>
                            <td><label class='input'><input th:name='${"items[" + i.index + "].count"}' th:value="${item.count}" class='number' /></label></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </section>
        </fieldset>
        <fieldset>
            <div class="row">
                <section class="col col-6">
                    <label class="label">签约项目：</label>
                    <label class="select">
                        <select name="project" id="project" th:value="${contract.project}"></select><i></i>
                    </label>
                </section>
                <section class="col col-6">
                    <label class="label">合同名称：</label>
                    <label class="input">
                        <input type="text" name="title" id="title" th:value="${contract.title}" />
                    </label>
                </section>
            </div>
            <div class="row">
                <section class="col col-6">
                    <label class="label">签约类型：</label>
                    <label class="select">
                        <select name="agentType" id="agentType"></select><i></i>
                    </label>
                </section>
                <section class="col col-6">
                    <label class="label">代理级别：</label>
                    <label class="select">
                        <select name="agentLevel" id="agentLevel"></select><i></i>
                    </label>
                </section>
            </div>
            <div class="row">
                <section class="col col-3">
                    <label class="label">合同签署人：</label>
                    <label class="input"><input id="signPerson" name="signPerson"
                                                type="text" th:value="${contract.signPerson}"/></label>
                </section>
                <section class="col col-3">
                    <label class="label">联系电话：</label>
                    <label class="input"><input id="signPhone" name="signPhone"
                                                type="text" th:value="${contract.signPhone}"/></label>
                </section>
                <section class="col col-3">
                    <label class="label">身份证号：</label>
                    <label class="input"><input id="signId" name="signId"
                                                type="text" th:value="${contract.signId}" /></label>
                </section>
                <section class="col col-3">
                    <label class="label">QQ邮箱：</label>
                    <label class="input"><input id="signEmail" name="signEmail"
                                                type="text" th:value="${contract.signEmail}" /></label>
                </section>
            </div>
            <div class="row" id="dist1">
                <section class="col col-2">
                    <label class="label">通讯地址（省）：</label>
                    <label class="select"><select name="signProvince" id="agentProvince">
                    </select><i></i></label>
                </section>
                <section class="col col-2">
                    <label class="label">通讯地址（市）：</label>
                    <label class="select"><select name="signCity">
                    </select><i></i></label>
                </section>
                <section class="col col-2">
                    <label class="label">通讯地址（区）：</label>
                    <label class="select"><select name="signDistrict">
                    </select><i></i></label>
                </section>
                <section class="col col-6">
                    <label class="label">通讯地址（街道门牌号）：</label>
                    <label class="input">
                        <input type="text" name="signAddress" id="signAddress" th:value="${contract.signAddress}"/>
                    </label>
                </section>
            </div>
            <div class="row" id="dist2">
                <section class="col col-4">
                    <label class="label">代理区域（省）：</label>
                    <label class="select"><select name="agentProvince">
                    </select><i></i></label>
                </section>
                <section class="col col-4">
                    <label class="label">代理区域（市）：</label>
                    <label class="select"><select name="agentCity">
                    </select><i></i></label>
                </section>
                <section class="col col-4">
                    <label class="label">代理区域（区）：</label>
                    <label class="select"><select name="agentDistrict">
                    </select><i></i></label>
                </section>
            </div>
            <section>
                <div class="row">
                    <section class="col col-4">
                        <label class="label">合同起始日期：</label>
                        <label class="input">
                            <i class="icon-append fa fa-calendar"></i>
                            <input id="startDate" class="hasDatepicker" name="startDate" type="text" th:value="${contract.startDate}"/>
                        </label>
                    </section>
                    <section class="col col-4">
                        <label class="label">合同终止日期：</label>
                        <label class="input">
                            <i class="icon-append fa fa-calendar"></i>
                            <input id="endDate" class="hasDatepicker" name="endDate" type="text" th:value="${contract.endDate}"/>
                        </label>
                    </section>
                    <section class="col col-4">
                        <label class="label">合同时长(年)：</label>
                        <label class="input">
                            <input type="text" name="duration" id="duration" class="number" th:value="${contract.duration}" />
                        </label>
                    </section>
                </div>
            </section>
            <section>
                <div class="row">
                    <section class="col col-6">
                        <label class="label">品牌使用费：</label>
                        <label class="input">
                            <input type="text" name="fee" id="fee" class="number" th:value="${contract.fee}" />
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">预存教材款：</label>
                        <label class="input">
                            <input type="text" name="prestore" id="prestore" class="number" th:value="${contract.prestore}" />
                        </label>
                    </section>
                </div>
            </section>
            <section th:if="${contract.attachments}">
                <label class="label">合同：</label>
                <table>
                    <tr th:each="attachment: ${contract.attachments}">
                        <td><a th:href="@{'/common/download/'+${attachment.id}}" target="_blank">[[${attachment.name +'.'+attachment.fileType}]]</a>
                        </td>
                    </tr>
                </table>
            </section>
            <section>
                <input type="file" class="file-loading" id="attachment" name="attachment" multiple/>
            </section>
            <section>
                <label class="textarea textarea-resizable">
                                                    <textarea class="custom-scroll"
                                                              placeholder="备注"
                                                              name="memo">[[${contract.memo}]]</textarea>
                </label>
            </section>
        </fieldset>
        <footer>
            <button type="submit" class="btn btn-primary">
                保 存
            </button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">
                取 消
            </button>
        </footer>
    </form>
</div>
<script th:src="@{js/distpicker.js}"></script>
<script th:inline="javascript">
    pageSetUp();

    var pagefunction = function () {

        $("#dist1").distpicker({
            province: [[${contract.signProvince}]],
            city: [[${contract.signCity}]],
            district: [[${contract.signDistrict}]]
        });
        $("#dist2").distpicker({
            province: [[${contract.agentProvince}]],
            city: [[${contract.agentCity}]],
            district: [[${contract.agentDistrict}]]
        });

        BindDictItem("project", "PROJECT_TYPE", "代理项目", [[${contract.project}]]);
        BindDictItem("agentType", "CONTRACT_TYPE", "签约类型", [[${contract.agentType}]]);
        BindDictItem("agentLevel", "CLIENT_LEVEL_TYPE", "代理级别", [[${contract.agentLevel}]]);

        var $form1 = $("#form_1").validate({
            rules: {
                project: {required: true},
                title: {required: true},
                startDate: {required: true},
                endDate: {required: true},
                signDate: {required: true},
                attachment: {required: true}
            },
            messages: {
                project: {required: '请选择代理项目'},
                title: {required: '请输入合同名称'},
                startDate: {required: '请输入合同有效期'},
                endDate: {required: '请输入合同有效期'},
                signDate: {required: '请输入签约日期'},
                attachment: {required: '请上传合同附件'}
            },
            onsubmit: true,
            submitHandler: function () {
                var formData = new FormData($('#form_1')[0]);
                $.ajax({
                    url: '/contract/reApply',
                    type: 'post',
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function () {
                        completeTaskRedirect([[${taskId}]], [{key: 'reApply', value: true, type: 'B'}], "#/common/task/todo");
                    },
                    error: function (e) {
                        $.bigBox({
                            title: "系统内部错误！",
                            content: "该错误已被记录，请联系管理员，并稍后重试！",
                            color: "#C46A69",
                            icon: "fa fa-warning shake animated",
                            timeout: 6000
                        });
                        e.preventDefault();
                    }
                });
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
        // START AND FINISH DATE
        $('#startDate').datetimepicker({
            format: 'yyyy-mm-dd',
            minView: 'month',
            language: 'zh-CN',
            autoclose: true
        }).on("click", function () {
            $("#startDate").datetimepicker("setEndDate", $("#endDate").val())
        });

        $('#endDate').datetimepicker({
            format: 'yyyy-mm-dd',
            minView: 'month',
            language: 'zh-CN',
            autoclose: true
        }).on("click", function () {
            $("#endDate").datetimepicker("setStartDate", $("#startDate").val())
        });

        $('#signDate').datetimepicker({
            format: 'yyyy-mm-dd',
            minView: 'month',
            language: 'zh-CN',
            autoclose: true
        })

        $("#attachment").fileinput({
            language: 'zh',
            showCaption: false,
            showUpload: false
        });

    };

    loadScript("js/plugin/jquery-form/jquery-form.min.js", pagefunction);

</script>
</body>
</html>