<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title></title>
</head>
<body>

<!-- Bread crumb is created dynamically -->
<!-- row -->
<div class="row">

    <!-- col -->
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">

            <!-- PAGE HEADER -->
            <i class="fa-fw fa fa-home"></i>
            桔宝库
        </h1>
    </div>
    <!-- end col -->


</div>
<!-- end row -->

<!--
	The ID "widget-grid" will start to initialize all widgets below
	You do not need to use widgets if you dont want to. Simply remove
	the <section></section> and you can use wells or panels instead
	-->

<!-- widget grid -->
<section id="widget-grid" class="">
    <!-- row -->

    <div class="row" id="rows">

        <div class="col-sm-6 col-md-6 col-lg-4">
            <!-- product -->
            <div class="product-content product-wrap clearfix">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="product-image">
                            <img src="" alt="194x228" class="img-responsive">
                            <span class="tag2 hot">
									HOT
								</span>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="product-deatil">
                            <h5 class="name">
                                <a href="#">
                                    Product Name Title Here <span>Category</span>
                                </a>
                            </h5>
                            <p class="price-container">
                                <span>$399</span>
                            </p>
                            <span class="tag1"></span>
                        </div>
                        <div class="description">
                            <p>Proin in ullamcorper lorem. Maecenas eu ipsum </p>
                        </div>
                        <div class="product-info smart-form">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6"> <a href="javascript:void(0);" class="btn btn-success">立即购买</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end product -->
        </div>



        <div class="col-sm-12 text-center">

        </div>


        <div class="table-responsive m-t">

        </div>

    </div>

    <!-- end row -->

</section>

<!-- end widget grid -->
<script type="text/javascript">
    var total=0;    //总条目: 可变
    var show=15;    //每页显示条目数: 可变
    var size=1;     //当前第几页
    var totalPage=0; //总页数

    pageSetUp();

    var pagefunction = function() {
        // clears the variable if left blank
        $.ajax({
            url: '/resource/index',
            type: 'POST',
            async: false,
            data: {"category":"GOODS_VIRTUAL"},
            success: function (data) {
                var items = eval(data);
                $("#rows").html("");
                var rowsHtml="";
                total=items.length;
                if(total>0){
                    if(total%show==0){
                        totalPage=parseInt(total/show);
                    }else{
                        totalPage=parseInt(total/show)+1;
                    }
                    for (var i = 0; i < items.length; i++) {
                        var projectName=items[i].projectName;
                        var typeName=items[i].typeName;
                        var subtypeName=items[i].subtypeName;
                        var content="";
                        var images=items[i].images;
                        var imgageId="";
                        if(images.length>0){
                            imgageId=images[0].id;
                        }
                        if(i<size*show){
                            rowsHtml += "<div class=\"col-sm-6 col-md-6 col-lg-4\" id='product"+i+"'>";
                            rowsHtml += "<div class=\"product-content product-wrap clearfix\">";
                            rowsHtml += "<div class=\"row\">";
                            rowsHtml += "<div class=\"col-md-5 col-sm-12 col-xs-12\">";
                            rowsHtml += "<div class=\"product-image\">";
                            if(imgageId!="" && imgageId !=undefined){
                                rowsHtml += "<img src=\"/public/showImg/"+imgageId+"\" alt=\"194x228\" class=\"img-responsive\">";
                            }
                            rowsHtml += "<span class=\"tag2 hot\">HOT</span>";
                            rowsHtml += "</div></div>";
                            rowsHtml += "<div class=\"col-md-7 col-sm-12 col-xs-12\">";
                            rowsHtml += "<div class=\"product-deatil\">";
                            rowsHtml += "<h5 class=\"name\">";
                            rowsHtml += "<a href=\"#/sale/detail/"+items[i].id+"\" >" + items[i].name + "<span>" + projectName + "</span><span>" + typeName + "</span><span>" + subtypeName + "</span></a>";
                            rowsHtml += "</h5>";
                            rowsHtml += "<p class=\"price-container\"><span>$"+items[i].price+"</span></p>";
                            rowsHtml += "<span class=\"tag1\"></span>";
                            rowsHtml += "</div>";
                            rowsHtml += "<div class=\"description\"><p>"+content+"</p></div>";
                            rowsHtml += "<div class=\"product-info smart-form\">";
                            rowsHtml += "<div class=\"row\">";


                            if(items[i].isPublic){
                                rowsHtml += "<div class=\"col-md-6 col-sm-6 col-xs-6\"> <a  class=\"btn btn-success\">资源下载</a> </div>";
                            }else{
                                rowsHtml += "<div class=\"col-md-6 col-sm-6 col-xs-6\"> <a  class=\"btn btn-success\">加密盒子</a> </div>";
                            }
                            rowsHtml += "<div class=\"col-md-6 col-sm-6 col-xs-6\"> <a href=\"#/sale/detail/"+items[i].id+"\" class=\"btn btn-success\"> 详情</a> </div>";
                            rowsHtml += "</div></div></div></div></div></div>";
                        }else {
                            rowsHtml += "<div class=\"col-sm-6 col-md-6 col-lg-4\" id='product" + i + "' style='display: none'>";
                            rowsHtml += "<div class=\"product-content product-wrap clearfix\">";
                            rowsHtml += "<div class=\"row\">";
                            rowsHtml += "<div class=\"col-md-5 col-sm-12 col-xs-12\">";
                            rowsHtml += "<div class=\"product-image\">";
                            if(imgageId!="" && imgageId !=undefined){
                                rowsHtml += "<img src=\"/public/showImg/"+imgageId+"\" alt=\"194x228\" class=\"img-responsive\">";
                            }
                            rowsHtml += "<span class=\"tag2 hot\">HOT</span>";
                            rowsHtml += "</div></div>";
                            rowsHtml += "<div class=\"col-md-7 col-sm-12 col-xs-12\">";
                            rowsHtml += "<div class=\"product-deatil\">";
                            rowsHtml += "<h5 class=\"name\">";
                            rowsHtml += "<a href=\"#/sale/detail/"+items[i].id+"\" >" + items[i].name + "<span>" + projectName + "</span><span>" + typeName + "</span><span>" + subtypeName + "</span></a>";
                            rowsHtml += "</h5>";
                            rowsHtml += "<p class=\"price-container\"><span>$" + items[i].price + "</span></p>";
                            rowsHtml += "<span class=\"tag1\"></span>";
                            rowsHtml += "</div>";
                            rowsHtml += "<div class=\"description\"><p>"+content+"</p></div>";
                            rowsHtml += "<div class=\"product-info smart-form\">";
                            rowsHtml += "<div class=\"row\">";
                            if(items[i].isPublic){
                                rowsHtml += "<div class=\"col-md-6 col-sm-6 col-xs-6\"> <a  class=\"btn btn-success\">资源下载</a> </div>";
                            }else{
                                rowsHtml += "<div class=\"col-md-6 col-sm-6 col-xs-6\"> <a  class=\"btn btn-success\">加密盒子</a> </div>";
                            }
                            rowsHtml += "<div class=\"col-md-6 col-sm-6 col-xs-6\"> <a href=\"#/sale/detail/"+items[i].id+"\" class=\"btn btn-success\"> 详情</a> </div>";
                            rowsHtml += "</div></div></div></div></div></div>";
                        }
                    }
                    if(totalPage==size){
                        rowsHtml += "<div class=\"col-sm-12 text-center\" id=\"pageHtml\">没有更多数据</div>";
                    }else{
                        rowsHtml += "<div class=\"col-sm-12 text-center\" id=\"pageHtml\"><a href=\"javascript:toPage("+size+");\" class=\"btn btn-primary btn-lg\">Load more <i class=\"fa fa-arrow-down\"></i></a></div>";
                    }
                }else{
                    rowsHtml += "<div class=\"col-sm-12 text-center\" id=\"pageHtml\">没有商品数据</div>";
                }
                //rowsHtml +="</div>";
                $("#rows").html(rowsHtml);
            }
        });
    };
    //动态分页
    function toPage(size){
        var pageSize=size+1;
        for(var i=size*show;i<pageSize*show;i++){
            if(i<total){
                $("#product"+i).show();
            }
        }
        $("#pageHtml").html("");
        var pageHtml="";
        if(totalPage==pageSize){
            pageHtml += "没有更多数据";
        }else{
            pageHtml += "<a href=\"javascript:toPage("+pageSize+");\" class=\"btn btn-primary btn-lg\">Load more <i class=\"fa fa-arrow-down\"></i></a>";
        }
        $("#pageHtml").html(pageHtml);
    }

    pagefunction();

</script>

</body>
</html>